<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Details_demo</title>
    <link rel="shortcut icon" href="/en-US/static/@1AC9F002DF2314450C9C567EFCFA6327CDB2684B0E3684B5CF749EA8D0B19F2F/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/splunkjs-dashboard.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/search/dashboard.css" />


        <meta name="referrer" content="never" />
        <meta name="referrer" content="no-referrer" />
    
        <script>
            (function () {
                window._splunk_metrics_events = [];
                window._splunk_metrics_events.active = true;

                function onLoadSwa() {
                    new SWA({"deploymentID": "a7d7ed26-bc9b-5d0f-b565-05acd1a1caa4", "userID": "205ef006bd640523629ed21896c8dfd2881388fc1dd175cdb9b6cc60a3c49866", "version": "4", "instanceGUID": "E7076EF1-B3EA-46BA-95CB-2C0C14252F49", "visibility": "anonymous,support", "url": "https://e1345286.api.splkmobile.com/1.0/e1345286"});
                };

                document.addEventListener("DOMContentLoaded", function(event) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = '/en-US/static/app/splunk_instrumentation/build/pages/swa.js';
                    s.addEventListener('load', onLoadSwa);
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                });
            }());
        </script>
        <style>
             #input1
        {   
            margin-left: 5rem !important;
            margin-top: -2rem !important;
        }
             #input2
        {   
            margin-left: 5rem !important;
            margin-top: -2rem !important;
        }
             #input3
        {   
            margin-left: 5rem !important;
            margin-top: -1rem !important;
        }
            #input4
        {   
            margin-left: 5rem !important;
            
        }
            #input4_1
        {   
            margin-left: 8rem !important;
            
        }
        
         
        
        
        </style>
    </head>
<body class="simplexml preload locale-en" data-splunk-version="8.0.6" data-splunk-product="enterprise">
<!--
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system.
-->
<header>
    <a aria-label="Screen reader users, click here to skip the navigation bar" class="navSkip" href="#navSkip" tabIndex="1">Skip Navigation &gt;</a>
    <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
                <div id="placeholder-app-bar"></div>
    </div>
    <a id="navSkip"></a>
</header>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>Details_demo</h2>
    </div>
    <div>
        <form id="formInfo">
            <div class="fieldset">
                <label for="input1">Name :</label>
                <input type="text" id="input1" placeholder="Enter Student Name" >
                <label for="input2">Barnch :</label>
                <select id="input2" >
                    <option value="ECE">ECE</option>
                    <option value="EEE">EEE</option>
                    <option value="CIVIL">CIVIL</option>
                    <option value="CSE">CSE</option>
                    <option value="MECH">MECH</option>
                </select>
                <label for="input3">Subjects :</label>
                <select id="input3" multiple>
                    <option value="English">English</option>
                    <option value="Maths">Maths</option>
                    <option value="CP">CP</option>
                    <option value="Physics">Physics</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="Drawing">Drawing</option>
                </select>
                <div>
                    <lable>Gender :</lable>
                    <input type="radio" id="input4" name="gender" value="male">Male 
                    <input type="radio" id="input4_1" name="gender" value="female">Female
               
                </div>
                <div class="form-submit" id="search_btn">
                    <button class="btn btn-primary submit">Submit</button>
                </div>
            </div>
        </form>
        
        
    </div>
    <div id="row1" class="dashboard-row dashboard-row1">
        <div id="panel1" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element1" class="dashboard-element table" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!--
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
<script type="text/javascript">
// <![CDATA[
// <![CDATA[
//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
//
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/layoutview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simplexml/element/visualization",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel",
    "splunkjs/mvc/tableview"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/tokenforwarder"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        LayoutView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        VisualizationElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel, 
        TableView

        // Add comma-separated parameter names here, for example:
        // ...UrlTokenModel,
        // TokenForwarder
        ) {

        var pageLoading = true;


        //
        // TOKENS
        //

        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});
    
        

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }



        //
        // SEARCH MANAGERS
        //
        var search1 = new SearchManager({
            "id": "search1",
            "earliest_time": "-24h@h",
            "latest_time": "now",
            "sample_ratio": 1,
            "search": "| inputlookup details_lookup | eval  KeyID = _key| eval  Delete = \"Delete\"  | eval  Update = \"Update\" | table KeyID,name,branch,subjects,gender,Delete,Update",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "tokenDependencies": {
            },
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});


        //
        // SPLUNK LAYOUT
        //

        $('header').remove();
        new LayoutView({"hideChrome": false, "hideSplunkBar": false, "hideAppBar": false})
            .render()
            .getContainerElement()
            .appendChild($('.dashboard-body')[0]);

        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: true
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //
        var element1 = new TableElement({
            "id": "element1",
            "count": 20,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "percentagesRow": "false",
            "refresh.display": "progressbar",
            "rowNumbers": "false",
            "totalsRow": "false",
            "wrap": "true",
            "managerid": "search1",
            "el": $('#element1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        //
        // VIEWS: FORM INPUTS
        //

        var input1 = new TextInput({
            "id": "input1",
            "value": "$form.field1$",
            "el": $('#input1')
        }, {tokens: true}).render();

        input1.on("change", function(newValue) {
            FormUtils.handleValueChange(input1);
        });

        var input2 = new DropdownInput({
            "id": "input2",
            "selectFirstChoice": false,
            "showClearButton": true,
            "value": "$form.field2$",
            "el": $('#input2')
        }, {tokens: true}).render();

        input2.on("change", function(newValue) {
            FormUtils.handleValueChange(input2);
        });
        
        var input3 = new MultiSelectInput({
            "id": "input3",
            "value": "$form.field3$",
            "el": $('#input3')
        }, {tokens: true}).render();

        input3.on("change", function(newValue) {
            FormUtils.handleValueChange(input3);
        });
        
        var input4 = new RadioGroupInput({
            "id": "input4",
            "selectFirstChoice": false,
            "value": "$form.field4$",
            "el": $('#input4')
        }, {tokens: true}).render();

        input4.on("change", function(newValue) {
            FormUtils.handleValueChange(input4);
        });

        $("#formInfo input[type=text]").val("");
        var service = mvc.createService({ owner: "nobody" });
     var key;

        //
        // SUBMIT FORM DATA
        //

        var submit = new SubmitButton({
            id: 'submit',
            el: $('#search_btn')
        }, {tokens: true}).render();

        submit.on("submit", function() {
            submitTokens();
            var tokens = mvc.Components.get("default");
            var name=$('#input1').val();
            var branch=$('#input2').val();
            var subjects=$('#input3').val();
            var gender=$('#input4').val();

            var record={
                "name":name,
                "branch":branch,
                "subjects":subjects,
                "gender":gender

            };
        
        if(key == undefined)
                {
            service.request(
                "storage/collections/data/inputs/",
                "POST",
                null,
                null,
                JSON.stringify(record),
                {"Content-Type": "application/json"},
                null).done(function()
                          {
                            search1.startSearch();
                $("#formInfo #input1").val("");
                $("#formInfo #input2").val("");
                 $("#formInfo #input3").val("");
                $("#formInfo #input4").val("");
            });
                }
             else
                 {
                      service.request(
                "storage/collections/data/inputs/"+encodeURIComponent(key),
                "POST",
                null,
                null,
                JSON.stringify(record),
                {"Content-Type": "application/json"},
                null).done(function()
                          {

            search1.startSearch();
                $("#formInfo #input1").val("");
                $("#formInfo #input2").val("");
                $("#formInfo #input3").val("");
                $("#formInfo #input4").val("");
            });
                     
                     key=undefined;
                     return false;
                 }
    
                });
                $("#element1").on('mouseover', 'tr>td:last-child',function(){
if($(this).find('a').length==0) {
    console.log('entered');
$(this).html('<a href="#" class="element1update"  >Update</a>')
}

});
    
     $("#element1").on('mouseover', 'tr>td:nth-child(6)',function(){
if($(this).find('a').length==0) {
    console.log('entered');
$(this).html('<a href="#" class="element1delete"  >Delete</a>')
}

});
    
  $("#element1").on('click', 'a.element1delete',function(){ 
      
              var rowData_week = $(this).parent().parent().children();
                  key=rowData_week[0].innerHTML.trim();
                console.log("rakesh")
      
      
         
            

            // Delete the record that corresponds to the key ID using
            // the del method to send a DELETE request
            // to the storage/collections/data/{collection}/ endpoint
            service.del("storage/collections/data/inputs/" + encodeURIComponent(key))
                .done(function() { 
                    // Run the search again to update the table
                    search1.startSearch(); 
                     console.log("manoj")
                });
            return false;
        }
 );
 $("#element1").on('click', 'a.element1update',function(){
        var rowData_week = $(this).parent().parent().children();
         
        $('#input1').val(rowData_week[1].innerHTML.trim());
     $('#input2').val(rowData_week[2].innerHTML.trim());
     $('#input3').val(rowData_week[3].innerHTML.trim());
     $('#input4').val(rowData_week[4].innerHTML.trim());
     
     key=rowData_week[0].innerHTML.trim();
   }
 );
        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        if (!_.isEmpty(urlTokenModel.toJSON())){
            submitTokens();
        }


        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        submitTokens();


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    });
// ]]>
</script>
</body>
</html>
