<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Failure Analytics</title>
    <link rel="shortcut icon" href="/en-US/static/@2F27652E945DA895AB1FE72F350B2423965D665DC4FB8C2F272B4003A86BF934/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/splunkjs-dashboard.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/search/dashboard.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/Uniliver_Dashboard_Images/css/failureanalytics.css" />

        <meta name="referrer" content="never" />
        <meta name="referrer" content="no-referrer" />
    
        <script>
            (function () {
                window._splunk_metrics_events = [];
                window._splunk_metrics_events.active = true;

                function onLoadSwa() {
                    new SWA({"deploymentID": "c6ec124c-0c34-5591-ae74-ae8203281ac7", "userID": "26c751d05dd12e80d0cf5012bac6160815381e8cb9f42f70e3453fbac6db78cb", "version": "4", "instanceGUID": "363C2B69-81AD-4FA0-8EEC-A3B36296998F", "visibility": "anonymous,support", "url": "https://e1345286.api.splkmobile.com/1.0/e1345286"});
                };

                document.addEventListener("DOMContentLoaded", function(event) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = '/en-US/static/app/splunk_instrumentation/build/pages/swa.js';
                    s.addEventListener('load', onLoadSwa);
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                });
            }());
		</script>
		<style>
			/* header and sidenav css  start */
           
		</style>
    </head>
<body class="simplexml preload locale-en" data-splunk-version="8.0.1" data-splunk-product="splunk">
    <!--
    BEGIN LAYOUT
    This section contains the layout for the dashboard. Splunk uses proprietary
    styles in <div> tags, similar to Bootstrap's grid system.
    -->
    <header>
        <a aria-label="Screen reader users, click here to skip the navigation bar" class="navSkip" href="#navSkip" tabIndex="1">Skip Navigation &gt;</a>
        <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
            <div id="placeholder-app-bar"></div>
        </div>
        <a id="navSkip"></a>
    </header>
    <div class="dashboard-body container-fluid main-section-body" data-role="main">
        <div class="row" id="rowheader">
            <div class="fieldset">
                <div id="mySidenav1" class="sidenav1">
                    <a id="orderLink" href=""> <img id="orderAnalyticsIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" />
                        <label id="orderAnalyticsLabel">Order Analytics</label>
                    </a>
                    <a id="failureLink" class="active" href="https://unileverservices.splunkcloud.com/en-US/app/ecom/failure_analytics_dashboard"> <img id="failureAnalyticsIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" />
                        <label id="failurerAnalyticsLabel">Failure Analytics</label>
                    </a>
                    <a id="performanceLink" href=""> <img id="performanceAnalyticsIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" />
                        <label id="performanceAnalyticsLabel">Performance Analytics</label>
                    </a>
                    <a id="regionLink" href=""> <img id="regionAnalyticsIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" />
                        <label id="regionAnalyticsLabel">Region Wise Analytics</label>
                    </a>
                    <br id="br1" />
                    <br id="br2" />
                    <br id="br3" />
                    <br id="br4" />
                    <br id="br5" />
                    <br id="br6" />
                    <br id="br7" />
                    <br id="br8" />
                    <br id="br9" />
                    <br id="br10" />
                    <a href="../../account/logout" id="logoutLink"> <img id="logoutIcon" src="/static/app/Uniliver_Dashboard_Images/images/logoutIcon.png" height="30" width="30" />
                        <label id="logoutLabel">Logout</label>
                    </a>
                </div>
                <div id="select"> <span onclick="openNav1()" id="navicon">&#9776;</span> <span onclick="openNav1()" id="closeicon">
                            <img id="newj" src="/static/app/Uniliver_Dashboard_Images/images/newj.png" height="120" width="120">
                        </span> </div>
                <div>
                    <label id="muletitle">Failure Analytics</label>
                </div>
                <div>
                    <a href="https://www.unilever.com/" target="_blank"> <img id="unileverLogo" src="/static/app/Uniliver_Dashboard_Images/images/unileverLogo.png" alt="Not Found" onerror=this.src="/static/app/Uniliver_Dashboard_Images/images/uniliveralt.png" 
                        >
                    </a>
                </div>
                <div>
                    <label id="loginuser"></label>
                    <label id="welcome">Welcome</label>
                </div>
            </div>
        </div>
        <br />
        <div class="fieldset">
            <div class="input input-dropdown" id="environmentDropdown">
                <label>Environment</label>
            </div>
            <div class="input input-dropdown" id="input2">
                <label>Region</label>
            </div>
            <div class="input input-dropdown" id="input3">
                <label>Interface</label>
            </div>
            <div class="input input-timerangepicker" id="input4">
                <label>Time</label>
            </div>
            <div class="form-submit" id="search_btn">
                <button class="btn btn-primary submit">Submit</button>
            </div>
        </div>

        <div id="row1" class="dashboard-row dashboard-row1">
            <div id="panel1" class="dashboard-cell" style="width: 33.33%;" data-original-id="panel1">
                <div class="dashboard-panel clearfix">
                    
                    <div class="panel-element-row">
                        <div id="single1" class="dashboard-element single" style="width: 50%">
                            <div class="panel-head">
                                <h3>Pending Failure</h3>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                        <div id="single2" class="dashboard-element single" style="width: 50%">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="panel2" class="dashboard-cell" style="width: 33.33%;" data-original-id="panel2">
                <div class="dashboard-panel clearfix">
                    
                    <div class="panel-element-row">
                        <div id="element1a" class="dashboard-element table" style="width: 100%">
                            <div class="panel-head">
                                <h3>Action - Failure Transactions</h3>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="panel3" class="dashboard-cell" style="width: 33.33%;" data-original-id="panel3">
                <div class="dashboard-panel clearfix">
                    
                    <div class="panel-element-row">
                        <div id="element1" class="dashboard-element chart" style="width: 100%">
                            <div class="panel-head">
                                <h3>Cumulative Failure Transaction Count</h3>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="row2" class="dashboard-row dashboard-row2">
            <div id="panel4" class="dashboard-cell" style="width: 50%;">
                <div class="dashboard-panel clearfix">
                    
                    <div class="panel-element-row">
                        <div id="element2" class="dashboard-element chart" style="width: 100%">
                            <div class="panel-head">
                                <h3>Top 10 Issues - Reason Code Analysis</h3>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="panel5" class="dashboard-cell" style="width: 50%;">
                <div class="dashboard-panel clearfix">
                    
                    <div class="panel-element-row">
                        <div id="element3" class="dashboard-element chart" style="width: 100%">
                            <div class="panel-head">
                                <h3>Ageing - Failure Transactions</h3>
                            </div>
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    END LAYOUT
    -->

    <script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
    <script type="text/javascript">
        var sideNav1 = false;
        function openNav1() {
            sideNav1 = !sideNav1;
            var s=document.getElementById("mySidenav1").style.width = (sideNav1)? "20%" : "0";
            if(s=="20%"){
                $("#navicon").hide();
                $("#closeicon").show();
                $('#mySidenav1').show();
            }
            else{
                $("#closeicon").hide();
                $("#navicon").show();
                $('#mySidenav1').show();
            }
        }

        $(document).click(function(evt) {
            if(evt.target.id != "navicon") {
                $('#mySidenav1').hide();
                $("#closeicon").hide();
                $("#navicon").show();
            }
        });

        // <![CDATA[
        // <![CDATA[
        //
        // LIBRARY REQUIREMENTS
        //
        // In the require function, we include the necessary libraries and modules for
        // the HTML dashboard. Then, we pass variable names for these libraries and
        // modules as function parameters, in order.
        //
        // When you add libraries or modules, remember to retain this mapping order
        // between the library or module and its function parameter. You can do this by
        // adding to the end of these lists, as shown in the commented examples below.

        require([
            "splunkjs/mvc",
            "splunkjs/mvc/utils",
            "splunkjs/mvc/tokenutils",
            "underscore",
            "jquery",
            "splunkjs/mvc/simplexml",
            "splunkjs/mvc/layoutview",
            "splunkjs/mvc/simplexml/dashboardview",
            "splunkjs/mvc/simplexml/dashboard/panelref",
            "splunkjs/mvc/simplexml/element/chart",
            "splunkjs/mvc/simplexml/element/event",
            "splunkjs/mvc/simplexml/element/html",
            "splunkjs/mvc/simplexml/element/list",
            "splunkjs/mvc/simplexml/element/map",
            "splunkjs/mvc/simplexml/element/single",
            "splunkjs/mvc/simplexml/element/table",
            "splunkjs/mvc/simplexml/element/visualization",
            "splunkjs/mvc/simpleform/formutils",
            "splunkjs/mvc/simplexml/eventhandler",
            "splunkjs/mvc/simplexml/searcheventhandler",
            "splunkjs/mvc/simpleform/input/dropdown",
            "splunkjs/mvc/simpleform/input/radiogroup",
            "splunkjs/mvc/simpleform/input/linklist",
            "splunkjs/mvc/simpleform/input/multiselect",
            "splunkjs/mvc/simpleform/input/checkboxgroup",
            "splunkjs/mvc/simpleform/input/text",
            "splunkjs/mvc/simpleform/input/timerange",
            "splunkjs/mvc/simpleform/input/submit",
            "splunkjs/mvc/searchmanager",
            "splunkjs/mvc/savedsearchmanager",
            "splunkjs/mvc/postprocessmanager",
            "splunkjs/mvc/simplexml/urltokenmodel"
            // Add comma-separated libraries and modules manually here, for example:
            // ..."splunkjs/mvc/simplexml/urltokenmodel",
            // "splunkjs/mvc/tokenforwarder"
            ],
            function(
                mvc,
                utils,
                TokenUtils,
                _,
                $,
                DashboardController,
                LayoutView,
                Dashboard,
                PanelRef,
                ChartElement,
                EventElement,
                HtmlElement,
                ListElement,
                MapElement,
                SingleElement,
                TableElement,
                VisualizationElement,
                FormUtils,
                EventHandler,
                SearchEventHandler,
                DropdownInput,
                RadioGroupInput,
                LinkListInput,
                MultiSelectInput,
                CheckboxGroupInput,
                TextInput,
                TimeRangeInput,
                SubmitButton,
                SearchManager,
                SavedSearchManager,
                PostProcessManager,
                UrlTokenModel

                // Add comma-separated parameter names here, for example:
                // ...UrlTokenModel,
                // TokenForwarder
                ) {

                var pageLoading = true;
                
                var service = mvc.createService({
                    owner: "nobody"
                });
                var urlLocaleAddress = window.location.pathname;
                var urlLocale = urlLocaleAddress.split('/')[1];
                var isUserLoggedInFirstTime = -1;
                var isSupportUser = false;
                var init = function() {
                    service.currentUser(function(err, user) {
                        var showChangepassword_Dialog = false;
                        var roles = user.properties().roles;
                        var userRealName = user.properties().realname;
                        document.getElementById("loginuser").innerHTML = userRealName;
                        if(roles.includes("splunk_ms_support")) {
                            isSupportUser = true;
                        }
                    });
                }();

                // create Global variables for loading dashboard with previous dashboard filters
                var currentEnvironment = null;
                var currentRegion = null;
                var currentInterface = null;
                var currentEarliest = null;
                var currentLatest = null;

                //
                // TOKENS
                //

                // Create token namespaces
                var urlTokenModel = new UrlTokenModel();
                mvc.Components.registerInstance('url', urlTokenModel);
                var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
                var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

                urlTokenModel.on('url:navigate', function() {
                    defaultTokenModel.set(urlTokenModel.toJSON());
                    if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                        submitTokens();
                    } else {
                        submittedTokenModel.clear();
                    }
                });

                // Initialize tokens
                defaultTokenModel.set(urlTokenModel.toJSON());

                function submitTokens() {
                    // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
                    FormUtils.submitForm({ replaceState: pageLoading });
                }

                function setToken(name, value) {
                    defaultTokenModel.set(name, value);
                    submittedTokenModel.set(name, value);
                }

                function unsetToken(name) {
                    defaultTokenModel.unset(name);
                    submittedTokenModel.unset(name);
                }

                // get current url params
                var currentURL = window.location.href;
                var currentParams = getParams(currentURL);


                //
                // SEARCH MANAGERS
                //

                var baseSearch = new SearchManager ({
                    "id": "baseSearch",
                    "earliest_time": "$earliestMT$",
                    "latest_time": "$latestMT$",
                    "sample_ratio": 1,
                    "search": "index=summary_index_mt_stats source=\"summary_index_mt_stats\" OR source=\"ss_cancelled\" $filterQueryMT$ businessGroup=\"Direct to Consumer\"  appName=\"*\" Region=\"$regionMT$\" interfaceName=\"$interfaceNameMT$\" parentId=\"*\"  | sort 0 -uniqueTime | dedup businessGroup,environment,appName,interfaceName,correlationId | table _time,businessGroup,environment,appName,interfaceName,correlationId,finalStatus,finalBusinessKeys,finalBusinessValues,finalProcessingTime,transactionStartTime,TransactionValue,Region,ErrorType,parentId,errorCategory | join type=left businessGroup,environment,appName,interfaceName,correlationId     [| search index=summary_index_mt_stages source=\"summary_index_mt_stages\" $filterQueryMT$ businessGroup=\"Direct to Consumer\"  appName=\"*\" interfaceName=\"$interfaceNameMT$\" | dedup businessGroup,environment,appName,interfaceName,correlationId  | table businessGroup,environment,appName,interfaceName,correlationId ,from ] | where isnotnull(from) |where finalStatus=\"Fail\"",
                    "status_buckets": 0,
                    "cancelOnUnload": true,
                    "app": utils.getCurrentApp(),
                    "auto_cancel": 90,
                    "preview": true,
                    "autostart": false,
                    "tokenDependencies": {
                    },
                    "runWhenTimeIsUndefined": false
                }, {tokens: true, tokenNamespace: "submitted"});

                var search1 = new PostProcessManager({
                    "managerid": "baseSearch",
                    "search": '| bin _time span=5m  |stats count(finalStatus) as failTransactions by _time |addcoltotals failTransactions |appendpipe [|stats count | where count=0 | eval failTransactions=0,_time=now() | table _time,failTransactions]',
                    "id": "search1"
                }, {
                    tokens: true,
                    tokenNamespace: "submitted"
                });

                var search2 = new PostProcessManager({
                    "managerid": "baseSearch",
                    "search": '| stats sum(TransactionValue) as failTransactionValue,values(TransactionCurrency) as TransactionCurrency |fillnull failTransactionValue | appendpipe [| stats count | where count=0 | eval failTransactionValue=0] |eval TransactionCurrency=if(isnull(TransactionCurrency) or TransactionCurrency="" ," ",TransactionCurrency)',
                    "id": "search2"
                }, {
                    tokens: true,
                    tokenNamespace: "submitted"
                });
            
                new SearchEventHandler({
                    managerid: "search2",
                    event: "done",
                    conditions: [
                        {
                            attr: "any",
                            value: "*",
                            actions: [
                                {"type": "set", "token": "failCurrency", "value": "$result.TransactionCurrency$"}
                            ]
                        }
                    ]
                });
                
                var search3 = new PostProcessManager({
                    "managerid": "baseSearch",
                    "search": '| bin _time span=5m | stats count(errorCategory) as errorCategoryCount by errorCategory |appendpipe[|stats count |where count=0 |eval errorCategory="Business Error,Technical Error",errorCategoryCount=0 |eval errorCategory=split(errorCategory,",") |mvexpand errorCategory |table errorCategory,errorCategoryCount] | replace "technical" with "Technical Error","business" with "Business Error" in errorCategory',
                    "id": "search3"
                }, {
                    tokens: true,
                    tokenNamespace: "submitted"
                });

                var search4 = new PostProcessManager({
                    "managerid": "baseSearch",
                    "search": '| timechart  count(finalStatus) as newtotal by finalStatus | table _time,Fail | fillnull value=0 Success,InProgress,Fail | appendpipe [| stats count | where count=0 | eval _time=now() | table _time | fillnull value=0 Fail ]',
                    "id": "search4"
                }, {
                    tokens: true,
                    tokenNamespace: "submitted"
                });

                var search5 = new PostProcessManager({
                    "managerid": "baseSearch",
                    "search": '| stats count(finalStatus) as count by ErrorType |appendpipe[|stats count |where count=0 |eval ErrorType="No Error" |table ErrorType,count ]',
                    "id": "search5"
                }, {
                    tokens: true,
                    tokenNamespace: "submitted"
                });
                
                var search6 = new SearchManager({
                    "id": "search6",
                    "sample_ratio": null,
                    "search":'| makeresults | eval time="Today,> Today and <7 days,> 7 days and <30 days,>30 days" | eval time=split(time,",") | table time | mvexpand time | join type=left time [ search index=summary_index_mt_stats earliest=-d@d latest=now() source="summary_index_mt_stats" $filterQueryMT$  businessGroup="Direct to Consumer" Region="$regionMT$" interfaceName="$interfaceNameMT$" parentId="*" | sort 0 -uniqueTime | dedup businessGroup,environment,appName,interfaceName,correlationId | table _time,businessGroup,environment,appName,interfaceName,correlationId,finalStatus,Region | where finalStatus="Fail" | stats count(finalStatus) as failedTransactions | eval time="Today" | table time,failedTransactions | append [| loadjob savedsearch="manikanth_admin:mulesoft:ss_failed_transactions_loadjob" | search $filterQueryMT$ Region="$regionMT$" interfaceName="$interfaceNameMT$" | table time,failedTransactions]] | fillnull failedTransactions',
                    "status_buckets": 0,
                    "cancelOnUnload": true,
                    "app": utils.getCurrentApp(),
                    "auto_cancel": 90,
                    "preview": true,
                    "tokenDependencies": {
                    },
                    "runWhenTimeIsUndefined": false
                }, {tokens: true, tokenNamespace: "submitted"});

                var search7 = new SearchManager({
                    "id": "search7",
                    "search": "index=summary_index_mt_stats source=\"summary_index_mt_stats\" OR source=\"ss_cancelled\" $filterQueryMT$ businessGroup=\"Direct to Consumer\"  appName=\"*\" Region=\"$RegionFirstValue$\" interfaceName=\"*\" parentId=\"*\" | dedup interfaceName | table interfaceName",
                    "status_buckets": 0,
                    "sample_ratio": 1,
                    "earliest_time": "0",
                    "cancelOnUnload": true,
                    "latest_time": "now",
                    "app": utils.getCurrentApp(),
                    "auto_cancel": 90,
                    "autostart": false,
                    "preview": true,
                    "tokenDependencies": {},
                    "runWhenTimeIsUndefined": false
                }, {
                    tokens: true,
                    tokenNamespace: "submitted"
                });
            
                new SearchEventHandler({
                    managerid: "search7",
                    event: "done",
                    conditions: [
                        {
                            attr: "any",
                            value: "*",
                            actions: [
                                {"type": "set", "token": "InterfaceNameFirstValue", "value": "$result.interfaceName$"},
                                {"type": "set", "token": "interfaceNameMT", "value": "$result.interfaceName$"}
                                
                            ]
                        }
                    ]
                });

                search7.on('search:done', function(properties) {
                    setTimeout(function() {
                        if(currentParams.prevInterface) {
                            setToken("InterfaceNameFirstValue", currentParams.prevInterface);
                            setToken("interfaceNameMT", currentParams.prevInterface);
                        }
                        var isRun = isdropdownChanged ? isdropdownChanged : false;
                        setDefaultTokens(isRun);
                        isdropdownChanged = false;
                    },500)
                });

                var search8 = new SearchManager({
                    "id": "search8",
                    "search": "index=summary_index_mt_stats source=\"summary_index_mt_stats\" OR source=\"ss_cancelled\" $filterQueryMT$ businessGroup=\"Direct to Consumer\" appName=\"*\"  Region=\"*\" parentId=\"*\" | dedup Region | table Region",
                    "status_buckets": 0,
                    "sample_ratio": 1,
                    "earliest_time": "0",
                    "cancelOnUnload": true,
                    "latest_time": "now",
                    "app": utils.getCurrentApp(),
                    "auto_cancel": 90,
                    "preview": true,
                    "autostart": false,
                    "tokenDependencies": {},
                    "runWhenTimeIsUndefined": false
                }, {
                    tokens: true,
                    tokenNamespace: "submitted"
                });
            
                new SearchEventHandler({
                    managerid: "search8",
                    event: "done",
                    conditions: [
                        {
                            attr: "any",
                            value: "*",
                            actions: [
                                {"type": "set", "token": "RegionFirstValue", "value": "$result.Region$"},
                                {"type": "set", "token": "regionMT", "value": "$result.Region$"}
                                
                            ]
                        }
                    ]
                });

                search8.on('search:done', function(properties) {
                    setTimeout(function() {
                        if (!currentParams.prevEnv) {
                            var regionValue = defaultTokenModel.get("RegionFirstValue");
                            splunkjs.mvc.Components.getInstance("input2").val(regionValue);
                        }  else {
                            setToken("RegionFirstValue", currentParams.prevRegion);
                            setToken("regionMT", currentParams.prevRegion);
                        }
                        search7.startSearch();
                    },500)
                });


                //
                // SPLUNK LAYOUT
                //

                $('header').remove();
                new LayoutView({"hideChrome": true, "hideSplunkBar": true, "hideAppBar": true})
                    .render()
                    .getContainerElement()
                    .appendChild($('.dashboard-body')[0]);


                //
                // DASHBOARD EDITOR
                //

                new Dashboard({
                    id: 'dashboard',
                    el: $('.dashboard-body'),
                    showTitle: true,
                    editable: true
                }, {tokens: true}).render();


                //
                // VIEWS: VISUALIZATION ELEMENTS
                //

                var single1 = new SingleElement({
                    "id": "single1",
                    "colorMode": "block",
                    "drilldown": "none",
                    "rangeColors": "[\"0xdc4e41\",\"0xdc4e41\"]",
                    "rangeValues": "[0]",
                    "useColors": "1",
                    "managerid": "search1",
                    "el": $('#single1')
                }, {tokens: true, tokenNamespace: "submitted"}).render();

                var single2 = new SingleElement({
                    "id": "single2",
                    "colorMode": "block",
                    "drilldown": "none",
                    "rangeColors": "[\"0xdc4e41\",\"0xdc4e41\"]",
                    "rangeValues": "[0]",
                    "refresh.display": "progressbar",
                    "unit": "$failCurrency$",
                    "useColors": "1",
                    "managerid": "search2",
                    "el": $('#single2')
                }, {tokens: true, tokenNamespace: "submitted"}).render();

                var element1a = new TableElement({
                    "id": "element1a",
                    "drilldown": "none",
                    "refresh.display": "progressbar",
                    "managerid": "search3",
                    "el": $('#element1a')
                }, {tokens: true, tokenNamespace: "submitted"}).render();

                var element1 = new ChartElement({
                    "id": "element1",
                    "resizable": true,
                    //"charting.axisLabelsY.majorUnit": "2000",
                    "charting.axisTitleX.visibility": "collapsed",
                    "charting.axisTitleY.visibility": "collapsed",
                    //"charting.axisY.maximumNumber": "16000",
                    "charting.axisY.minimumNumber": "0",
                    "charting.chart": "column",
                    "charting.chart.showDataLabels": "none",
                    "charting.chart.stackMode": "default",
                    "charting.drilldown": "none",
                    "charting.layout.splitSeries": "0",
                    "charting.legend.placement": "none",
                    "refresh.display": "progressbar",
                    "managerid": "search4",
                    "el": $('#element1')
                }, {tokens: true, tokenNamespace: "submitted"}).render();

                var element2 = new ChartElement({
                    "id": "element2",
                    "resizable": true,
                    //"charting.axisLabelsY.majorUnit": "500",
                    "charting.axisTitleX.visibility": "collapsed",
                    "charting.axisTitleY.visibility": "collapsed",
                    "charting.chart.seriesSpacing": "5",
                    "charting.chart": "bar",
                    "charting.drilldown": "none",
                    "charting.legend.placement": "none",
                    "refresh.display": "progressbar",
                    "managerid": "search5",
                    "el": $('#element2')
                }, {tokens: true, tokenNamespace: "submitted"}).render();

                var element3 = new ChartElement({
                    "id": "element3",
                    "resizable": true,
                    //"charting.axisLabelsY.majorUnit": "1000",
                    "charting.axisTitleX.visibility": "collapsed",
                    "charting.axisTitleY.visibility": "collapsed",
                    "charting.chart": "bar",
                    "charting.chart.stackMode": "stacked",
                    "charting.drilldown": "none",
                    "charting.legend.placement": "bottom",
                    "refresh.display": "progressbar",
                    "managerid": "search6",
                    "el": $('#element3')
                }, {tokens: true, tokenNamespace: "submitted"}).render();


                //
                // VIEWS: FORM INPUTS
                //

                EventHandler.unsetToken("form.filterQueryMT");
                EventHandler.unsetToken("form.interfaceNameMT");
                EventHandler.unsetToken("form.time.earliest");
                EventHandler.unsetToken("form.time.latest");
            
                $("#orderLink").click(function() {
                    var anchorTag = document.getElementById('orderLink');
                    anchorTag.href = "https://unileverservices.splunkcloud.com/en-US/app/ecom/order_analytics_dashboard?prevEnv="+currentEnvironment+"&prevRegion="+currentRegion+"&prevInterface="+currentInterface+"&prevEarliest="+currentEarliest+"&prevLatest="+currentLatest;
                });

                $("#performanceLink").click(function() {
                    var anchorTag = document.getElementById('performanceLink');
                    anchorTag.href = "https://unileverservices.splunkcloud.com/en-US/app/ecom/performance_analytics_dashboard?prevEnv="+currentEnvironment+"&prevRegion="+currentRegion+"&prevInterface="+currentInterface+"&prevEarliest="+currentEarliest+"&prevLatest="+currentLatest;
                });

                $("#regionLink").click(function() {
                    var anchorTag = document.getElementById('regionLink');
                    anchorTag.href = "https://unileverservices.splunkcloud.com/en-US/app/ecom/region_analytics_dashboard?prevEnv="+currentEnvironment+"&prevRegion="+currentRegion+"&prevInterface="+currentInterface+"&prevEarliest="+currentEarliest+"&prevLatest="+currentLatest;
                });

                // set default tokens to load the dashboard
                function setDefaultTokens(isRun) {
                    var defaultTokenModel = mvc.Components.get("default");
                    var timestampValueEarliest = currentParams && currentParams.prevEarliest ? currentParams.prevEarliest : defaultTokenModel.get("time.earliest");
                    var timestampValueLatest = currentParams && currentParams.prevLatest ? currentParams.prevLatest : defaultTokenModel.get("time.latest");

                    if (currentParams && currentParams.prevEnv) {
                        splunkjs.mvc.Components.getInstance("input4").val({"latest_time": currentParams.prevLatest,"earliest_time": currentParams.prevEarliest});
                    }

                    setToken("earliestMT", timestampValueEarliest ? timestampValueEarliest : "-30m@m");
                    setToken("latestMT", timestampValueLatest ? timestampValueLatest : "now");

                    if (isRun) {
                        baseSearch.startSearch();
                        currentParams = {};
                    }

                    setGloablVariables();
                }

                // set dashboard filters into global variables
                function setGloablVariables(){
                    var defaultTokenModel = mvc.Components.get("default");
                    var environmentDValue = defaultTokenModel.get("filterQueryMT");
                    if(environmentDValue == "environment=\"*prod*\"") {
                        currentEnvironment = 'prod';
                    } else {
                        currentEnvironment = 'non-prod';
                    }
                    currentRegion = defaultTokenModel.get("regionMT");
                    currentInterface = defaultTokenModel.get("interfaceNameMT");
                    currentEarliest = defaultTokenModel.get("time.earliest");
                    currentLatest = defaultTokenModel.get("time.latest");
                }
            
                var environmentDropdown = new DropdownInput({
                    "id": "environmentDropdown",
                    "choices": [{
                        "label": "prod",
                        "value": "environment=\"*prod*\""
                    }, {
                        "label": "non prod",
                        "value": "environment!=\"*prod*\""
                    }],
                    "showClearButton": false,
                    "default": "environment=\"*prod*\"",
                    "searchWhenChanged": true,
                    "selectFirstChoice": false,
                    "value": "$form.filterQueryMT$",
                    "el": $('#environmentDropdown')
                }, {
                    tokens: true
                }).render();

                var isdropdownChanged = false;
                environmentDropdown.on("change", function(newValue) {
                    FormUtils.handleValueChange(environmentDropdown);
                    if (!currentParams.prevEnv) {
                        var defaultTokenModel = mvc.Components.get("default");
                        var environmentDValue = defaultTokenModel.get("filterQueryMT");
                        var filterQuery;
                        if(environmentDValue == "environment=\"*prod*\"") {
                            filterQuery = 'environment="*prod*"';
                        } else {
                            filterQuery = 'environment!="*prod*"';
                        }
                        unsetToken("RegionFirstValue");
                        setToken("filterQueryMT", filterQuery);
                    } else {
                        if (currentParams.prevEnv == "prod") {
                            setToken("filterQueryMT", 'environment="*prod*"');
                            splunkjs.mvc.Components.getInstance("environmentDropdown").val("environment=\"*prod*\"");
                        } else {
                            setToken("filterQueryMT", 'environment!="*prod*"');
                            splunkjs.mvc.Components.getInstance("environmentDropdown").val("environment!=\"*prod*\"");
                        }
                    }
                    isdropdownChanged = true;
                    search8.startSearch();
                });
                
                var input2 = new DropdownInput({
                    "id": "input2",
                    "choices": [],
                    "default": "$RegionFirstValue$",
                    "selectFirstChoice": false,
                    "showClearButton": false,
                    "labelField": "Region",
                    "valueField": "Region",
                    "value": "$form.regionMT$",
                    "managerid": "search8",
                    "el": $('#input2')
                }, {tokens: true}).render();

                var input2TokenValue;
                input2.on("change", function(newValue) {
                    FormUtils.handleValueChange(input2);
                    EventHandler.unsetToken("form.interfaceNameMT");
                    unsetToken("InterfaceNameFirstValue");
                    input2TokenValue = newValue;
                    setToken("RegionFirstValue", newValue);
                    search7.startSearch();
                });
                
                var input3 = new DropdownInput({
                    "id": "input3",
                    "choices": [],
                    "default": "$InterfaceNameFirstValue$",
                    "selectFirstChoice": false,
                    "showClearButton": false,
                    "labelField": "interfaceName",
                    "valueField": "interfaceName",
                    "value": "$form.interfaceNameMT$",
                    "managerid": "search7",
                    "el": $('#input3')
                }, {tokens: true}).render();

                var input3TokenValue;
                input3.on("change", function(newValue) {
                    FormUtils.handleValueChange(input3);
                    var defaultTokenModel = mvc.Components.get("default");
                    input3TokenValue = defaultTokenModel.get("interfaceNameMT");
                });
                
                var input4 = new TimeRangeInput({
                    "id": "input4",
                    "default": {"earliest_time": "-30m@m", "latest_time": "now"},
                    "earliest_time": "$form.time.earliest$",
                    "latest_time": "$form.time.latest$",
                    "el": $('#input4')
                }, {tokens: true}).render();

                input4.on("change", function(newValue) {
                    FormUtils.handleValueChange(input4);
                });
                

                //
                // SUBMIT FORM DATA
                //

                var submit = new SubmitButton({
                    id: 'submit',
                    el: $('#search_btn')
                }, {tokens: true}).render();

                submit.on("submit", function() {
                    submitTokens();
                    var defaultTokenModel = mvc.Components.get("default");
                    var timestampValueEarliest = defaultTokenModel.get("time.earliest");
                    var timestampValueLatest = defaultTokenModel.get("time.latest");
                    setToken("regionMT", input2TokenValue);
                    setToken("interfaceNameMT", input3TokenValue);
                    setToken("earliestMT", timestampValueEarliest);
                    setToken("latestMT", timestampValueLatest);
                    baseSearch.startSearch();

                    setGloablVariables();
                });

                // Initialize time tokens to default
                if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
                    defaultTokenModel.set({ earliest: '0', latest: '' });
                }

                if (!_.isEmpty(urlTokenModel.toJSON())){
                    submitTokens();
                }

                function getParams(url) {
                    var params = {};
                    var parser = document.createElement('a');
                    parser.href = url;
                    var query = parser.search.substring(1);
                    var vars = query.split('&');
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split('=');
                        params[pair[0]] = decodeURIComponent(pair[1]);
                    }
                    return params;
                }


                //
                // DASHBOARD READY
                //

                DashboardController.ready();
                pageLoading = false;

            }
        );
        // ]]>
    </script>
</body>
</html>