<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Platform Infra Dashboard</title>
		<link rel="shortcut icon" href="/en-US/static/@3D039A8A94F2F97CA8C1A46419EC6EFD51661338C03906C6AAC524CA4AC9ACEB/img/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
		<link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/splunkjs-dashboard.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/search/dashboard.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/Uniliver_Dashboard_Images/css/platform infra dashboard.css" />
        <meta name="referrer" content="never" />
        <meta name="referrer" content="no-referrer" />
        <script>
            (function () {
                window._splunk_metrics_events = [];
                window._splunk_metrics_events.active = true;

                function onLoadSwa() {
                    new SWA({"deploymentID": "831c187d-78bd-5f89-9e44-4c54f7923ebf", "userID": "4fccf84be008ae5deaea23b9aaf1eb2c48556a70634caf75267b75456096dd80", "version": "4", "instanceGUID": "F83A9634-1AEB-4BC6-A6DD-0D9AC4BB4AE9", "visibility": "anonymous,support", "url": "https://e1345286.api.splkmobile.com/1.0/e1345286"});
                };

                document.addEventListener("DOMContentLoaded", function(event) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = '/en-US/static/app/splunk_instrumentation/build/pages/swa.js';
                    s.addEventListener('load', onLoadSwa);
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                });
            }());
		</script>
		<style>
            /* Multi select scroll bar css */

        </style>
    </head>
	<body class="simplexml preload locale-en" data-splunk-version="8.0.4.1" data-splunk-product="enterprise">
		<!--
		BEGIN LAYOUT
		This section contains the layout for the dashboard. Splunk uses proprietary
		styles in <div> tags, similar to Bootstrap's grid system.
		-->
		<header>
			<a aria-label="Screen reader users, click here to skip the navigation bar" class="navSkip" href="#navSkip" tabIndex="1">Skip Navigation &gt;</a>
			<div class="header splunk-header">
				<div id="placeholder-splunk-bar">
					<a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
				</div>
				<div id="placeholder-app-bar"></div>
			</div>
			<a id="navSkip"></a>
		</header>
		<div class="dashboard-body container-fluid main-section-body" data-role="main">
			<div class="row" id="rowheader" style="max-height:50px;height:50px;background-color:#006d9c;">
                <div class="fieldset">
                    <div id="mySidenav1" class="sidenav1" style="background-color: rgb(243,243,243);">
                        <a href="https://unileverservices.splunkcloud.com/en-US/app/mulesoft/mule_interface_performance_dashboard"> <img id="performanceIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" style="margin-left:5%;margin-top: 1%;" />
                            <label id="performanceLabel">Performance Dashboard</label>
                        </a>
                        <a href="https://unileverservices.splunkcloud.com/en-US/app/mulesoft/mule_certificates_status_expiry_dashboard"> <img id="statusExpiryIcon" src="/static/app/Uniliver_Dashboard_Images/images/statusExpiryIcon.png" height="30" width="30" style="margin-left:5%;margin-top: 5%;" />
                            <label style="font-size: 14px;margin-left: 27%;float:right;margin-top: -10%;margin-right: 2.8rem; color: #2624add4; font-weight: bold;" id="statusExpiry">Certificates Status Expiry</label>
                        </a>
                        <a href="https://unileverservices.splunkcloud.com/en-US/app/mulesoft/application_registry"> <img id="applicationRegisteryIcon" src="/static/app/Uniliver_Dashboard_Images/images/applicationRegisteryIcon.png" height="30" width="30" style="margin-left:6%;margin-top: 2%;" />
                            <label style="font-size: 14px;margin-left: 28%;float:right;margin-right:2.8rem;margin-top: -15%; color: #2624add4; font-weight: bold;" id="applicationRegistery">Aplication Registry</label>
                        </a>
                        <a href="https://unileverservices.splunkcloud.com/en-GB/manager/mulesoft/authentication/users" target="_blank"> <img id="userCreationIcon" src="/static/app/Uniliver_Dashboard_Images/images/userCreationIcon.png" height="40" width="30" style="margin-left:6%;margin-top: 2%;" />
                            <label style="font-size: 14px;float:right;margin-right:2.8rem;margin-top: -15%; color: #2624add4; font-weight: bold;" id="userCreation">Users Configuration</label>
                        </a>
                        <a href="https://unileverservices.splunkcloud.com/en-US/app/mulesoft/Production_API_Details"> <img id="productionApiIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" style="margin-left:5%;margin-top: 1%;" />
                            <label id="productionApiLabel">Production API Details</label>
                        </a>
                        <a class="active" href="https://unileverservices.splunkcloud.com/en-US/app/mulesoft/platform_infra_dashboard"> <img id="platformInfraIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" style="margin-left:5%;margin-top: 1%;" />
                            <label id="platformInfraLabel">Platform Infra Dashboard</label>
                        </a>
                        <br id="br11" />
                        <br id="br12" />
                        <br id="br13" />
                        <br id="br14" />
                        <br id="br15" />
                        <br id="br16" />
                        <br id="br17" />
                        <br id="br18" />
                        <br id="br19" />
                        <a href="../../account/logout" style="background-color: #bad8e4;"> <img id="logoutIcon" src="/static/app/Uniliver_Dashboard_Images/images/logoutIcon.png" height="30" width="30" style="margin-left: 83%;margin-top: -3%;" />
                            <label id="logoutLabel" style="font-size: 15px;margin-left: 1.5rem;float:left;margin-top: -13%; color: red; font-weight: bold;">Logout</label>
                        </a>
                    </div>
                    <div id="select"> <span style="font-size:24px; cursor:pointer; color:white;border-radius: 50%; padding: 5px;" onclick="openNav1()" id="navicon">&#9776;</span> <span style="font-size:24px; cursor:pointer; color:white;border-radius: 50%; background-color:#006d9c; padding: 5px;display:none;" onclick="openNav1()" id="closeicon">
                                <img id="newj" src="/static/app/Uniliver_Dashboard_Images/images/newj.png" height="120" width="120" style="margin-left:5%;margin-top: 1%;max-width: 400%;">
                            </span> </div>
                    <div>
                        <label id="muletitle">Platform Infra Dashboard</label>
                    </div>
                    <div>
                        <a href="https://www.unilever.com/" target="_blank"> <img id="unileverLogo" src="/static/app/Uniliver_Dashboard_Images/images/unileverLogo.png" alt="Not Found" onerror=this.src="/static/app/Uniliver_Dashboard_Images/images/uniliveralt.png" 
                            style="height: 2.4rem; margin-top: 0.2%; float:right; margin-right: 2%;">
                        </a>
                    </div>
                    <div>
                        <label id="loginuser"></label>
                        <label id="welcome">Welcome</label>
                    </div>
                </div>
            </div>
			<!-- <div class="dashboard-header clearfix">
				<h2>Platform Infra Dashboard</h2>
			</div> -->
			<div class="fieldset">
				<div class="input input-multiselect" id="input1">
					<label>Business Group</label>
                </div>
                <div id="data_updated_htmlElement" class="dashboard-element html" style="float: right;margin-right: 2%;margin-top: 2%;">
                    <div class="panel-body html">
                        <div id="dataUpdatedDate">
                            <label id="dataUpdatedDateLabel" style="font-weight: bold;color: #006d9c;">$dataUpdatedDate$</label>
                        </div>
                    </div>
                </div>
			</div>

			<div id="row1" class="dashboard-row dashboard-row1">
				<div id="panel1" class="dashboard-cell" style="width: 33.33%;">
					<div class="dashboard-panel clearfix">
						<h2 class="panel-title">Total VCores</h2>
						
						<div class="panel-element-row">
							<div id="element1" class="dashboard-element single" style="width: 100%">
								<div class="panel-body"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="panel2" class="dashboard-cell" style="width: 33.33%;">
					<div class="dashboard-panel clearfix">
						<h2 class="panel-title">Available VCores</h2>
						
						<div class="panel-element-row">
							<div id="element2" class="dashboard-element single" style="width: 100%">
								<div class="panel-body"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="panel3" class="dashboard-cell" style="width: 33.33%;">
					<div class="dashboard-panel clearfix">
						<h2 class="panel-title">Consumed VCores</h2>
						
						<div class="panel-element-row">
							<div id="element3" class="dashboard-element single" style="width: 100%">
								<div class="panel-body"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="row2" class="dashboard-row dashboard-row2">
				<div id="panel4" class="dashboard-cell" style="width: 100%;">
					<div class="dashboard-panel clearfix">
						<h2 class="panel-title">Business Groups - With vCore Details</h2>
						
						<div class="panel-element-row">
							<div id="element4" class="dashboard-element table" style="width: 100%">
								<div class="panel-body"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--
		END LAYOUT
		-->

		<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
		<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
		<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
		<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
		<script type="text/javascript">
			var sideNav1 = false;
            function openNav1() {
                sideNav1 = !sideNav1;
                var s=document.getElementById("mySidenav1").style.width = (sideNav1)? "20%" : "0";
                if(s=="20%"){
                    $("#navicon").hide();
                    $("#closeicon").show();
                    $('#mySidenav1').show();
                }
                else{
                    $("#closeicon").hide();
                    $("#navicon").show();
                    $('#mySidenav1').show();
                }
            }
            $(document).click(function(evt) {
                if(evt.target.id != "navicon") {
                    $('#mySidenav1').hide();
                    $("#closeicon").hide();
                    $("#navicon").show();
                }
            });
            
			// <![CDATA[
			// <![CDATA[
			//
			// LIBRARY REQUIREMENTS
			//
			// In the require function, we include the necessary libraries and modules for
			// the HTML dashboard. Then, we pass variable names for these libraries and
			// modules as function parameters, in order.
			//
			// When you add libraries or modules, remember to retain this mapping order
			// between the library or module and its function parameter. You can do this by
			// adding to the end of these lists, as shown in the commented examples below.

			require([
				"splunkjs/mvc",
				"splunkjs/mvc/utils",
				"splunkjs/mvc/tokenutils",
				"underscore",
				"jquery",
				"splunkjs/mvc/simplexml",
				"splunkjs/mvc/layoutview",
				"splunkjs/mvc/simplexml/dashboardview",
				"splunkjs/mvc/simplexml/dashboard/panelref",
				"splunkjs/mvc/simplexml/element/chart",
				"splunkjs/mvc/simplexml/element/event",
				"splunkjs/mvc/simplexml/element/html",
				"splunkjs/mvc/simplexml/element/list",
				"splunkjs/mvc/simplexml/element/map",
				"splunkjs/mvc/simplexml/element/single",
				"splunkjs/mvc/simplexml/element/table",
				"splunkjs/mvc/simplexml/element/visualization",
				"splunkjs/mvc/simpleform/formutils",
				"splunkjs/mvc/simplexml/eventhandler",
				"splunkjs/mvc/simplexml/searcheventhandler",
				"splunkjs/mvc/simpleform/input/dropdown",
				"splunkjs/mvc/simpleform/input/radiogroup",
				"splunkjs/mvc/simpleform/input/linklist",
				"splunkjs/mvc/simpleform/input/multiselect",
				"splunkjs/mvc/simpleform/input/checkboxgroup",
				"splunkjs/mvc/simpleform/input/text",
				"splunkjs/mvc/simpleform/input/timerange",
				"splunkjs/mvc/simpleform/input/submit",
				"splunkjs/mvc/searchmanager",
				"splunkjs/mvc/savedsearchmanager",
				"splunkjs/mvc/postprocessmanager",
				"splunkjs/mvc/simplexml/urltokenmodel"
				// Add comma-separated libraries and modules manually here, for example:
				// ..."splunkjs/mvc/simplexml/urltokenmodel",
				// "splunkjs/mvc/tokenforwarder"
				],
				function(
					mvc,
					utils,
					TokenUtils,
					_,
					$,
					DashboardController,
					LayoutView,
					Dashboard,
					PanelRef,
					ChartElement,
					EventElement,
					HtmlElement,
					ListElement,
					MapElement,
					SingleElement,
					TableElement,
					VisualizationElement,
					FormUtils,
					EventHandler,
					SearchEventHandler,
					DropdownInput,
					RadioGroupInput,
					LinkListInput,
					MultiSelectInput,
					CheckboxGroupInput,
					TextInput,
					TimeRangeInput,
					SubmitButton,
					SearchManager,
					SavedSearchManager,
					PostProcessManager,
					UrlTokenModel

					// Add comma-separated parameter names here, for example:
					// ...UrlTokenModel,
					// TokenForwarder
					) {

					var pageLoading = true;
					var service = mvc.createService({
                        owner: "nobody"
                    });
                    var urlLocaleAddress = window.location.pathname;
                    var urlLocale = urlLocaleAddress.split('/')[1];
                    var isUserLoggedInFirstTime = -1;
                    var isSupportUser = false;
                    var init = function() {
                        service.currentUser(function(err, user) {
                            var showChangepassword_Dialog = false;
                            var roles = user.properties().roles;
                            var userRealName = user.properties().realname;
                            document.getElementById("loginuser").innerHTML = userRealName;
                            if(roles.includes("splunk_ms_support")) {
                                isSupportUser = true;
                            }
                        });
                    }();

					//
					// TOKENS
					//

					// Create token namespaces
					var urlTokenModel = new UrlTokenModel();
					mvc.Components.registerInstance('url', urlTokenModel);
					var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
					var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

					urlTokenModel.on('url:navigate', function() {
						defaultTokenModel.set(urlTokenModel.toJSON());
						if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
							submitTokens();
						} else {
							submittedTokenModel.clear();
						}
					});

					// Initialize tokens
					defaultTokenModel.set(urlTokenModel.toJSON());

					function submitTokens() {
						// Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
						FormUtils.submitForm({ replaceState: pageLoading });
					}

					function setToken(name, value) {
						defaultTokenModel.set(name, value);
						submittedTokenModel.set(name, value);
					}

					function unsetToken(name) {
						defaultTokenModel.unset(name);
						submittedTokenModel.unset(name);
					}



					//
					// SEARCH MANAGERS
					//

					
					var baseSearch = new SearchManager({
						"id": "baseSearch",
						"earliest_time": "-24h@h",
						"latest_time": "now",
						"sample_ratio": 1,
						"search": "|loadjob savedsearch=\"test_nagendra:mulesoft:ss_vcore_latest_data_loadjob\" | search $BGName$ |eventstats sum(TotalVcores) as finalSumOfTotalVcores,sum(RemainingVcores) as finalSumOfRemainingVcores |eval perOfAvailablevCore=(finalSumOfRemainingVcores/finalSumOfTotalVcores)*100",
						"status_buckets": 0,
						"cancelOnUnload": true,
						"app": utils.getCurrentApp(),
						"auto_cancel": 90,
						"preview": true,
						"tokenDependencies": {
						},
						"runWhenTimeIsUndefined": false
					}, {tokens: true, tokenNamespace: "submitted"});
					var search1 = new PostProcessManager({
						"tokenDependencies": {
						},
						"search": "| stats sum(TotalVcores) as Total",
						"managerid": "baseSearch",
						"id": "search1"
					}, {tokens: true, tokenNamespace: "submitted"});

					var search2 = new PostProcessManager({
						"tokenDependencies": {
						},
						"search": "|where RemainingVcores>0 |stats sum(RemainingVcores) as TotalBusinessGroups,values(perOfAvailablevCore) as perOfAvailablevCore    | eval range=case(perOfAvailablevCore<=10, \"severe\", perOfAvailablevCore>10 and  perOfAvailablevCore<=20,\"high\",perOfAvailablevCore>20,\"low\")",
						"managerid": "baseSearch",
						"id": "search2"
					}, {tokens: true, tokenNamespace: "submitted"});

					var search3 = new PostProcessManager({
						"tokenDependencies": {
						},
						"search": "|where ConsumedVcores>0 | stats sum(ConsumedVcores) as Total",
						"managerid": "baseSearch",
						"id": "search3"
					}, {tokens: true, tokenNamespace: "submitted"});

					
					var search4 = new SearchManager({
						"id": "search4",
						"earliest_time": "-24h@h",
						"latest_time": "now",
						"sample_ratio": 1,
						"search": "|loadjob savedsearch=\"test_nagendra:mulesoft:ss_vcore_latest_data_loadjob\" | search $BGName$ | table BGName TotalVcores ConsumedVcores RemainingVcores  | sort 0 - RemainingVcores",
						"status_buckets": 0,
						"cancelOnUnload": true,
						"app": utils.getCurrentApp(),
						"auto_cancel": 90,
						"preview": true,
						"tokenDependencies": {
						},
						"runWhenTimeIsUndefined": false
					}, {tokens: true, tokenNamespace: "submitted"});
					
					var search5 = new SearchManager({
						"id": "search5",
						"earliest_time": "-24h@h",
						"latest_time": "now",
						"sample_ratio": null,
						"search": "|loadjob savedsearch=\"test_nagendra:mulesoft:ss_vcore_latest_data_loadjob\" | dedup BGName | table BGName",
						"status_buckets": 0,
						"cancelOnUnload": true,
						"app": utils.getCurrentApp(),
						"auto_cancel": 90,
						"preview": true,
						"tokenDependencies": {
						},
						"runWhenTimeIsUndefined": false
					}, {tokens: true});

                    // var latest_data_updated_date = new SearchManager({
					// 	"id": "latest_data_updated_date",
					// 	"earliest_time": "-24h@h",
					// 	"latest_time": "now",
					// 	"sample_ratio": 1,
					// 	"search": "|loadjob savedsearch=\"test_nagendra:mulesoft:ss_vcore_latest_data_loadjob\" | head 1| table _time | eval newTime=\"LastUpdated : \"+strftime(_time,\"%Y-%m-%d %H:%M:%S\") | table newTime",
					// 	"status_buckets": 0,
					// 	"cancelOnUnload": true,
					// 	"app": utils.getCurrentApp(),
					// 	"auto_cancel": 90,
					// 	"preview": true,
					// 	"tokenDependencies": {
					// 	},
					// 	"runWhenTimeIsUndefined": false
					// }, {tokens: true, tokenNamespace: "submitted"});

                    var latest_data_updated_date = new PostProcessManager({
						"tokenDependencies": {
						},
						"search": "| head 1| table _time | eval newTime=\"LastUpdated : \"+strftime(_time,\"%Y-%m-%d %H:%M:%S\") | table newTime",
						"managerid": "baseSearch",
						"id": "latest_data_updated_date"
					}, {tokens: true, tokenNamespace: "submitted"});

                    new SearchEventHandler({
                        managerid: "latest_data_updated_date",
                        event: "preview",
                        conditions: [
                            {
                                attr: "any",
                                value: "*",
                                actions: [
                                    {
                                        "type": "set",
                                        "token": "dataUpdatedDate",
                                        "value": "$result.newTime$"
                                    }
                                ]
                            }
                        ]
                    });


					//
                    // SPLUNK LAYOUT
                    //

                    $('header').remove();
                    new LayoutView({
                        "hideChrome": true,
                        "hideSplunkBar": true,
                        "hideAppBar": true
                    }).render().getContainerElement().appendChild($('.dashboard-body')[0]);

                    //
                    // DASHBOARD EDITOR
                    //

                    new Dashboard({
                        id: 'dashboard',
                        el: $('.dashboard-body'),
                        showTitle: false,
                        editable: false
                    }, {tokens: true}).render();


                    //
                    // VIEWS: VISUALIZATION ELEMENTS
                    //
                    EventHandler.unsetToken("form.BGName");
					var element1 = new SingleElement({
						"id": "element1",
						"colorBy": "value",
						"colorMode": "block",
						"drilldown": "none",
						"numberPrecision": "0.0",
						"rangeColors": "[\"0x006d9c\",\"0x0877a6\",\"0x006d9c\",\"0x006d9c\",\"0x006d9c\"]",
						"rangeValues": "[0,30,70,100]",
						"refresh.display": "progressbar",
						"showSparkline": "1",
						"showTrendIndicator": "1",
						"trellis.enabled": "0",
						"trellis.scales.shared": "1",
						"trellis.size": "medium",
						"trendColorInterpretation": "standard",
						"trendDisplayMode": "absolute",
						"unitPosition": "after",
						"useColors": "1",
						"useThousandSeparators": "1",
						"managerid": "search1",
						"el": $('#element1')
					}, {tokens: true, tokenNamespace: "submitted"}).render();

					var element2 = new SingleElement({
						"id": "element2",
						"colorMode": "block",
						"drilldown": "none",
						"field": "[\"TotalBusinessGroups\"]",
						"numberPrecision": "0.0",
						"rangeColors": "[\"0xdc4e41\",\"0x006d9c\",\"0x53a051\"]",
						"rangeValues": "[10,20]",
						"refresh.display": "progressbar",
						"useColors": "0",
						"managerid": "search2",
						"el": $('#element2')
					}, {tokens: true, tokenNamespace: "submitted"}).render();

					var element3 = new SingleElement({
						"id": "element3",
						"colorMode": "block",
						"drilldown": "none",
						"numberPrecision": "0.0",
						"rangeColors": "[\"0x9c27b0\",\"0x9c27b0\",\"0x9c27b0\",\"0x9c27b0\",\"0x9c27b0\"]",
						"refresh.display": "progressbar",
						"useColors": "1",
						"managerid": "search3",
						"el": $('#element3')
					}, {tokens: true, tokenNamespace: "submitted"}).render();

					var element4 = new TableElement({
						"id": "element4",
						"count": 10,
						"dataOverlayMode": "none",
						"drilldown": "none",
						"format": {"RemainingVcores": [{"type": "color", "options": {}}], "ConsumedVcores": [{"type": "color", "options": {}}], "TotalVcores": [{"type": "color", "options": {}}], "BGName": [{"type": "color", "options": {}}]},
						"link.inspectSearch.visible": "0",
						"link.openSearch.visible": "0",
						"percentagesRow": "false",
						"refresh.link.visible": "0",
						"rowNumbers": "false",
						"totalsRow": "false",
						"wrap": "true",
						"managerid": "search4",
						"el": $('#element4')
					}, {tokens: true, tokenNamespace: "submitted"}).render();

                    var dataUpdatedDateHtmlElement = new HtmlElement({
                        "id": "dataUpdatedDateHtmlElement",
                        "useTokens": true,
                        "el": $('#data_updated_htmlElement')
                    }, {
                        tokens: true,
                        tokenNamespace: "submitted"
                    }).render();


					//
					// VIEWS: FORM INPUTS
					//

					var input1 = new MultiSelectInput({
						"id": "input1",
						"choices": [
							{"label": "All", "value": "*"}
						],
						"default": ["*"],
						"valuePrefix": "BGName=\"",
						"valueSuffix": "\"",
						"delimiter": " OR ",
						"showClearButton": true,
                        "searchWhenChanged": true,
                        "selectFirstChoice": false,
						"labelField": "BGName",
						"valueField": "BGName",
						"value": "$form.BGName$",
						"managerid": "search5",
						"el": $('#input1')
					}, {tokens: true}).render();

					input1.on("change", function(newValue) {
                        FormUtils.handleValueChange(input1);
                        var businessGroup = mvc.Components.get("input1");
                        var businessGroupTokenValue = defaultTokenModel.get("BGName");
                        var selection = [];
                        selection = businessGroup.val();
                        if(selection.length > 1 && selection.includes("*") && selection.indexOf("*") == 0) {
                            var indexofAll = selection.indexOf("*");
                            selection.splice(indexofAll, 1);
                            businessGroup.val(selection);
                            setToken("BGName", businessGroupTokenValue.substr(14));
                        } else if(selection.length > 1 && selection.includes("*") && selection.indexOf("*") > 0) {
                            var indexofAll = selection.indexOf("*");
                            selection = selection[indexofAll];
                            businessGroup.val(selection);
                            setToken("BGName", "BGName=\"*\"");
                        }
                    });
					
					DashboardController.onReady(function() {
						if (!submittedTokenModel.has('earliest') && !submittedTokenModel.has('latest')) {
							submittedTokenModel.set({ earliest: '0', latest: '' });
						}
					});

					// Initialize time tokens to default
					if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
						defaultTokenModel.set({ earliest: '0', latest: '' });
					}

					if (!_.isEmpty(urlTokenModel.toJSON())){
						submitTokens();
					}


					//
					// DASHBOARD READY
					//

					DashboardController.ready();
					pageLoading = false;

				}
			);
			// ]]>
		</script>
	</body>
</html>