<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Production API Details</title>
    <link rel="shortcut icon" href="/en-US/static/@2F27652E945DA895AB1FE72F350B2423965D665DC4FB8C2F272B4003A86BF934/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/splunkjs-dashboard.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/search/dashboard.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/Uniliver_Dashboard_Images/css/production api details.css" />


        <meta name="referrer" content="never" />
        <meta name="referrer" content="no-referrer" />
    
        <script>
            (function () {
                window._splunk_metrics_events = [];
                window._splunk_metrics_events.active = true;

                function onLoadSwa() {
                    new SWA({"deploymentID": "c6ec124c-0c34-5591-ae74-ae8203281ac7", "userID": "26c751d05dd12e80d0cf5012bac6160815381e8cb9f42f70e3453fbac6db78cb", "version": "4", "instanceGUID": "363C2B69-81AD-4FA0-8EEC-A3B36296998F", "visibility": "anonymous,support", "url": "https://e1345286.api.splkmobile.com/1.0/e1345286"});
                };

                document.addEventListener("DOMContentLoaded", function(event) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = '/en-US/static/app/splunk_instrumentation/build/pages/swa.js';
                    s.addEventListener('load', onLoadSwa);
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                });
            }());
        </script>
        
    </head>
<body class="simplexml preload locale-en" data-splunk-version="8.0.1" data-splunk-product="splunk">
<!--
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system.
-->
<header>
    <a aria-label="Screen reader users, click here to skip the navigation bar" class="navSkip" href="#navSkip" tabIndex="1">Skip Navigation &gt;</a>
    <a id="navSkip"></a>
</header>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="row" id="rowheader" style="max-height:50px;height:50px;background-color:#006d9c;">
        <div class="fieldset">
            <div id="mySidenav1" class="sidenav1" style="background-color: rgb(243,243,243);">
                <a href="https://unileverservices.splunkcloud.com/en-US/app/mulesoft/mule_interface_performance_dashboard"> <img id="performanceIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" style="margin-left:5%;margin-top: 1%;" />
                    <label id="title1">Performance Dashboard</label>
                </a>
                <a href="https://unileverservices.splunkcloud.com/en-US/app/mulesoft/mule_certificates_status_expiry_dashboard"> <img id="statusExpiryIcon" src="/static/app/Uniliver_Dashboard_Images/images/statusExpiryIcon.png" height="30" width="30" style="margin-left:5%;margin-top: 5%;" />
                    <label style="font-size: 14px;margin-left: 27%;float:right;margin-top: -10%;margin-right: 2.8rem; color: #2624add4; font-weight: bold;" id="statusExpiry">Certificates Status Expiry</label>
                </a>
                <a href="https://unileverservices.splunkcloud.com/en-US/app/mulesoft/application_registry"> <img id="applicationRegisteryIcon" src="/static/app/Uniliver_Dashboard_Images/images/applicationRegisteryIcon.png" height="26" width="26" style="margin-left:6%;margin-top: 2%;" />
                    <label style="font-size: 14px;margin-left: 28%;float:right;margin-right:2.8rem;margin-top: -15%; color: #2624add4; font-weight: bold;" id="applicationRegistery">Aplication Registry</label>
                </a>
                <a href="https://unileverservices.splunkcloud.com/en-GB/manager/mulesoft/authentication/users" target="_blank"> <img id="userCreationIcon" src="/static/app/Uniliver_Dashboard_Images/images/userCreationIcon.png" height="40" width="30" style="margin-left:6%;margin-top: 2%;" />
                    <label style="font-size: 14px;float:right;margin-right:2.8rem;margin-top: -15%; color: #2624add4; font-weight: bold;" id="userCreation">Users Configuration</label>
                </a>
                <a class="active" href="https://unileverservices.splunkcloud.com/en-US/app/mulesoft/Production_API_Details"> <img id="productionApiIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" style="margin-left:5%;margin-top: 1%;" />
                    <label id="productionApiLabel">Production API Details</label>
                </a>
                <a href="https://unileverservices.splunkcloud.com/en-US/app/mulesoft/platform_infra_dashboard"> <img id="platformInfraIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" style="margin-left:5%;margin-top: 1%;" />
                    <label id="platformInfraLabel">Platform Infra Dashboard</label>
                </a>
                <br id="br1" />
                <br id="br2" />
                <br id="br3" />
                <br id="br4" />
                <br id="br5" />
                <br id="br6" />
                <br id="br7" />
                <br id="br8" />
                <br id="br9" />
                <a href="../../account/logout" style="background-color: #bad8e4;"> <img id="logoutIcon" src="/static/app/Uniliver_Dashboard_Images/images/logoutIcon.png" height="30" width="30" style="margin-left: 83%;margin-top: -3%;" />
                    <label id="logoutLabel" style="font-size: 15px;margin-left: 1.5rem;float:left;margin-top: -13%; color: red; font-weight: bold;">Logout</label>
                </a>
            </div>
            <div id="select"> 
                <span style="font-size:24px; cursor:pointer; color:white;border-radius: 50%; padding: 5px;" onclick="openNav1()" id="navicon">&#9776;</span> 
                <span style="font-size:24px; cursor:pointer; color:white;border-radius: 50%; background-color:#006d9c; padding: 5px;display:none;" onclick="openNav1()" id="closeicon">
                    <img id="newj" src="/static/app/Uniliver_Dashboard_Images/images/newj.png" height="120" width="120" style="margin-left:5%;margin-top: 1%;max-width: 400%;">
                </span> 
            </div>
            <div>
                <label id="muletitle"> PRODUCTION API DETAILS</label>
            </div>
            <div>
                <a href="https://www.unilever.com/" target="_blank"> <img id="unileverLogo" src="/static/app/Uniliver_Dashboard_Images/images/unileverLogo.png" alt="Not Found" onerror=this.src="/static/app/Uniliver_Dashboard_Images/images/uniliveralt.png" 
                    style="height:3.8rem; margin-top: 0.2%; float:right; margin-right: 2%;">
				</a>
			</div>
            <div>
                <label id="loginuser"></label>
                <label id="welcome">Welcome</label>
            </div>
        </div>
    </div>

    <div class="fieldset" style="margin-top: 1%;">
        <div class="input input-dropdown" id="input1">
            <label>BusinessGroup</label>
        </div>

        <div id="data_updated_htmlElement" class="dashboard-element html" style="float: right;margin-right: 2%;margin-top: 2%;">
            <div class="panel-body html">
                <div id="dataUpdatedDate">
                    <label id="dataUpdatedDateLabel" style="font-weight: bold;color: #006d9c;">$dataUpdatedDate$</label>
                </div>
            </div>
        </div>
    </div>

    <div id="row1" class="dashboard-row dashboard-row1">
        <div id="panel1" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element1" class="dashboard-element single" style="width: 100%">
                        <div class="panel-head">
                            <h3>Total Production APIs</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel2" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element2" class="dashboard-element single" style="width: 100%">
                        <div class="panel-head">
                            <h3>Average Reuse Index</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row2" class="dashboard-row dashboard-row2">
        <div id="panel3" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element3" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-head">
                            <h3>Production APIs Per Business Group</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel4" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element4" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-head">
                            <h3>Average Reuse Index Per Business Group</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row3" class="dashboard-row dashboard-row3">
        <div id="panel5" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element5" class="dashboard-element table" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel6" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element6" class="dashboard-element table" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
<script type="text/javascript">

    var sideNav = false;

	function openNav() {
		sideNav = !sideNav;
		document.getElementById("mySidenav").style.width = (sideNav) ? "20%" : "0";
	}
	var sideNav1 = false;

	function openNav1() {
		sideNav1 = !sideNav1;
		var s = document.getElementById("mySidenav1").style.width = (sideNav1) ? "19%" : "0";
		if(s == "19%") {
			$("#navicon").hide();
			$("#closeicon").show();
			$('#mySidenav1').show();
		} else {
			$("#closeicon").hide();
			$("#navicon").show();
			$('#mySidenav1').show();
		}
	}
	$(document).click(function(evt) {
		if(evt.target.id != "navicon") {
			$('#mySidenav1').hide();
			$("#closeicon").hide();
			$("#navicon").show();
		}
	});
    $("a").click(function() {
        $('a').removeClass('active');
        $(this).toggleClass('active');
    });

// <![CDATA[
// <![CDATA[
//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
//
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/layoutview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simplexml/element/visualization",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/tokenforwarder"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        LayoutView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        VisualizationElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example:
        // ...UrlTokenModel,
        // TokenForwarder
        ) {

            var pageLoading = true;

            var service = mvc.createService({
                owner: "nobody"
            });
            var urlLocaleAddress = window.location.pathname;
            var urlLocale = urlLocaleAddress.split('/')[1];
            var isUserLoggedInFirstTime = -1;
            var init = function() {
                service.currentUser(function(err, user) {
                    var showChangepassword_Dialog = false;
                    var roles = user.properties().roles;
                    var userRealName = user.properties().realname;
                    console.log("***************** User Real Name ******");
                    console.log(userRealName);
                    console.log("***************** Roles ******");
                    console.log(roles);
                    document.getElementById("loginuser").innerHTML = userRealName;
                });
            }();
        

        //
        // TOKENS
        //

        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }



        //
        // SEARCH MANAGERS
        //

        
        var baseSearch = new SearchManager({
            "id": "baseSearch",
            "earliest_time": "$earliest$",
            "latest_time": "$latest$",
            "sample_ratio": 1,
            //"search": "index=summary_mulesoft_application_api  earliest=-10h correlationId=[search `mc_mulseoft_application_api`] |table apiReuseIndex,orgId,orgName,totalProductionApis,totalActiveContracts |where like(orgName,\"%$businessGroup_token$%\")",
            "search": "|loadjob savedsearch=\"test_nagendra:mulesoft:mc_production_api_counts_loadjob\" |where like(orgName,\"%$businessGroup_token$%\")",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "tokenDependencies": {
            },
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});
        var search1 = new PostProcessManager({
            "tokenDependencies": {
            },
            "search": "|stats sum(totalProductionApis) as TotalAPIs |fillnull value=0 TotalAPIs",
            "managerid": "baseSearch",
            "id": "search1"
        }, {tokens: true, tokenNamespace: "submitted"});

        var search2 = new PostProcessManager({
            "tokenDependencies": {
            },
            "search": "|stats sum(totalActiveContracts) as totalActiveContracts,sum(totalProductionApis) as totalProductionApis |eval avgReuseIndex=totalActiveContracts/totalProductionApis |table avgReuseIndex |appendpipe[|stats count |where count=0 |eval avgReuseIndex=0|table avgReuseIndex ]",
            "managerid": "baseSearch",
            "id": "search2"
        }, {tokens: true, tokenNamespace: "submitted"});

        var search3 = new PostProcessManager({
            "tokenDependencies": {
            },
            "search": "|stats sum(totalProductionApis) as TotalAPIs by orgName |fillnull value=0 TotalAPIs |eval orgName=orgName+\":\"+TotalAPIs",
            "managerid": "baseSearch",
            "id": "search3"
        }, {tokens: true, tokenNamespace: "submitted"});

        var search4 = new PostProcessManager({
            "tokenDependencies": {
            },
            "search": "|stats sum(totalActiveContracts) as totalActiveContracts,sum(totalProductionApis) as totalProductionApis by orgName |eval avgRuseIndex=totalActiveContracts/totalProductionApis |table orgName,avgRuseIndex |fillnull value=0 avgRuseIndex |eval avgRuseIndex=round(avgRuseIndex,2),orgName=orgName+\":\"+avgRuseIndex",
            "managerid": "baseSearch",
            "id": "search4"
        }, {tokens: true, tokenNamespace: "submitted"});

        var search5 = new PostProcessManager({
            "tokenDependencies": {
            },
            "search": "|where like(orgName,\"%$businessGroup_token$%\") |stats sum(totalProductionApis) as ProductionAPICount by orgName |sort ProductionAPICount desc  |rename orgName as BusinessGroup |fillnull value=0 ProductionAPICount",
            "managerid": "baseSearch",
            "id": "search5"
        }, {tokens: true, tokenNamespace: "submitted"});
        // var search5 = new SearchManager({
        //     "id": "search5",
        //     "earliest_time": "$earliest$",
        //     "latest_time": "$latest$",
        //     "sample_ratio": null,
        //     "search": "index=summary_mulesoft_application_api earliest=-10h correlationId=[search `mc_mulseoft_application_api`]  |table apiReuseIndex,orgId,orgName,totalProductionApis |where like(orgName,\"%$businessGroup_token$%\") |stats sum(totalProductionApis) as ProductionAPICount by orgName |sort ProductionAPICount desc  |rename orgName as BusinessGroup |fillnull value=0 ProductionAPICount",
        //     "status_buckets": 0,
        //     "cancelOnUnload": true,
        //     "app": utils.getCurrentApp(),
        //     "auto_cancel": 90,
        //     "preview": true,
        //     "tokenDependencies": {
        //     },
        //     "runWhenTimeIsUndefined": false
        // }, {tokens: true, tokenNamespace: "submitted"});

        var search6 = new PostProcessManager({
            "tokenDependencies": {
            },
            "search": "|where like(orgName,\"%$businessGroup_token$%\") |stats sum(totalActiveContracts) as totalActiveContracts,sum(totalProductionApis) as totalProductionApis by orgName |eval avgRuseIndex=totalActiveContracts/totalProductionApis,avgRuseIndex=round(avgRuseIndex,2) |table orgName,avgRuseIndex |rename orgName as BusinessGroup,avgRuseIndex as APIReuseIndex |sort APIReuseIndex desc |fillnull value=0 APIReuseIndex",
            "managerid": "baseSearch",
            "id": "search6"
        }, {tokens: true, tokenNamespace: "submitted"});
        
        // var search6 = new SearchManager({
        //     "id": "search6",
        //     "earliest_time": "$earliest$",
        //     "latest_time": "$latest$",
        //     "sample_ratio": null,
        //     "search": "index=summary_mulesoft_application_api earliest=-10h correlationId=[search `mc_mulseoft_application_api`]  |table apiReuseIndex,orgId,orgName,totalProductionApis,totalActiveContracts |where like(orgName,\"%$businessGroup_token$%\") |stats sum(totalActiveContracts) as totalActiveContracts,sum(totalProductionApis) as totalProductionApis by orgName |eval avgRuseIndex=totalActiveContracts/totalProductionApis,avgRuseIndex=round(avgRuseIndex,2) |table orgName,avgRuseIndex |rename orgName as BusinessGroup,avgRuseIndex as APIReuseIndex |sort APIReuseIndex desc |fillnull value=0 APIReuseIndex",
        //     "status_buckets": 0,
        //     "cancelOnUnload": true,
        //     "app": utils.getCurrentApp(),
        //     "auto_cancel": 90,
        //     "preview": true,
        //     "tokenDependencies": {
        //     },
        //     "runWhenTimeIsUndefined": false
        // }, {tokens: true, tokenNamespace: "submitted"});

        // var search7 = new PostProcessManager({
        //     "tokenDependencies": {
        //     },
        //     "search": "|dedup orgName |table orgName",
        //     "managerid": "baseSearch",
        //     "id": "search7"
        // }, {tokens: true, tokenNamespace: "submitted"});
        
        var search7 = new SearchManager({
            "id": "search7",
            //"earliest_time": "-24h@h",
            //"latest_time": "now",
            "sample_ratio": null,
            //"search": "index=summary_mulesoft_application_api  earliest=-10h correlationId=[search `mc_mulseoft_application_api`] |dedup orgName |table orgName",
            "search": "|loadjob savedsearch=\"test_nagendra:mulesoft:mc_production_api_counts_loadjob\"|dedup orgName |table orgName",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "tokenDependencies": {
            },
            "runWhenTimeIsUndefined": false
        }, {tokens: true});

        var searlatest_data_updated_datech7 = new PostProcessManager({
            "tokenDependencies": {
            },
            "search": "|table _time |head 1 |eval Newtime=_time,Newtime=strftime(Newtime,\"%Y-%m-%d %H:%M:%S\")  |eval Newtime=\"LastUpdated\"+\": \"+Newtime |table Newtime",
            "managerid": "baseSearch",
            "id": "latest_data_updated_date"
        }, {tokens: true, tokenNamespace: "submitted"});

        // var latest_data_updated_date = new SearchManager({
        //     "id": "latest_data_updated_date",
        //     "search": "index=summary_mulesoft_application_api  earliest=-10h correlationId=[search `mc_mulseoft_application_api`] |table _time |head 1 |eval Newtime=_time,Newtime=strftime(Newtime,\"%Y-%m-%d %H:%M:%S\")  |eval Newtime=\"LastUpdated\"+\": \"+Newtime |table Newtime",
        //     "status_buckets": 0,
        //     "cancelOnUnload": true,
        //     "app": utils.getCurrentApp(),
        //     "auto_cancel": 90,
        //     "preview": true,
        //     "tokenDependencies": {
        //     },
        //     "runWhenTimeIsUndefined": false
        // }, {tokens: true});

        new SearchEventHandler({
            managerid: "latest_data_updated_date",
            event: "preview",
            conditions: [
                {
                    attr: "any",
                    value: "*",
                    actions: [
                        {
                            "type": "set",
                            "token": "dataUpdatedDate",
                            "value": "$result.Newtime$"
                        }
                    ]
                }
            ]
        });


        //
        // SPLUNK LAYOUT
        //

        $('header').remove();
        new LayoutView({"hideChrome": true, "hideSplunkBar": true, "hideAppBar": true})
            .render()
            .getContainerElement()
            .appendChild($('.dashboard-body')[0]);

        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: false
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        EventHandler.unsetToken("form.businessGroup_token");

        var element1 = new SingleElement({
            "id": "element1",
            "colorBy": "value",
            "colorMode": "block",
            "drilldown": "none",
            "numberPrecision": "0",
            "rangeColors": "[\"0x006d9c\",\"0x0877a6\",\"0x006d9c\",\"0x006d9c\",\"0x006d9c\"]",
            "rangeValues": "[0,30,70,100]",
            "refresh.display": "progressbar",
            "showSparkline": "0",
            "showTrendIndicator": "1",
            "trellis.enabled": "0",
            "trellis.scales.shared": "1",
            "trellis.size": "medium",
            "trendColorInterpretation": "inverse",
            "trendDisplayMode": "absolute",
            "unitPosition": "after",
            "useColors": "1",
            "useThousandSeparators": "1",
            "managerid": "search1",
            "el": $('#element1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element2 = new SingleElement({
            "id": "element2",
            "colorBy": "value",
            "colorMode": "block",
            "drilldown": "none",
            "numberPrecision": "0.00",
            "rangeColors": "[\"0x006d9c\",\"0x0877a6\",\"0x006d9c\",\"0x006d9c\",\"0x006d9c\"]",
            "rangeValues": "[0,30,70,100]",
            "refresh.display": "progressbar",
            "showSparkline": "1",
            "showTrendIndicator": "1",
            "trellis.enabled": "0",
            "trellis.scales.shared": "1",
            "trellis.size": "medium",
            "trendColorInterpretation": "standard",
            "trendDisplayMode": "absolute",
            "unitPosition": "after",
            "useColors": "1",
            "useThousandSeparators": "1",
            "managerid": "search2",
            "el": $('#element2')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element3 = new ChartElement({
            "id": "element3",
            "resizable": true,
            "charting.chart": "pie",
            "charting.chart.sliceCollapsingThreshold": "0",
            "charting.drilldown": "none",
            "refresh.display": "progressbar",
            "trellis.enabled": "0",
            "trellis.scales.shared": "1",
            "trellis.size": "medium",
            "managerid": "search3",
            "el": $('#element3')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        var element4 = new ChartElement({
            "id": "element4",
            "resizable": true,
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.axisTitleX.visibility": "visible",
            "charting.axisTitleY.visibility": "visible",
            "charting.axisTitleY2.visibility": "visible",
            "charting.axisX.abbreviation": "none",
            "charting.axisX.scale": "linear",
            "charting.axisY.abbreviation": "none",
            "charting.axisY.scale": "linear",
            "charting.axisY2.abbreviation": "none",
            "charting.axisY2.enabled": "0",
            "charting.axisY2.scale": "inherit",
            "charting.chart": "pie",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.nullValueMode": "gaps",
            "charting.chart.showDataLabels": "none",
            "charting.chart.sliceCollapsingThreshold": "0",
            "charting.chart.stackMode": "default",
            "charting.chart.style": "shiny",
            "charting.drilldown": "none",
            "charting.layout.splitSeries": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.legend.mode": "standard",
            "charting.legend.placement": "right",
            "charting.lineWidth": "2",
            "refresh.display": "progressbar",
            "trellis.enabled": "0",
            "trellis.scales.shared": "1",
            "trellis.size": "medium",
            "managerid": "search4",
            "el": $('#element4')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        var element5 = new TableElement({
            "id": "element5",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "link.inspectSearch.visible": "0",
            "link.openSearch.visible": "0",
            "percentagesRow": "false",
            "refresh.display": "progressbar",
            "refresh.link.visible": "0",
            "rowNumbers": "false",
            "totalsRow": "false",
            "wrap": "false",
            "managerid": "search5",
            "el": $('#element5')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element6 = new TableElement({
            "id": "element6",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "link.inspectSearch.visible": "0",
            "link.openSearch.visible": "0",
            "percentagesRow": "false",
            "refresh.display": "progressbar",
            "refresh.link.visible": "0",
            "rowNumbers": "false",
            "totalsRow": "false",
            "wrap": "false",
            "managerid": "search6",
            "el": $('#element6')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var dataUpdatedDateHtmlElement = new HtmlElement({
            "id": "dataUpdatedDateHtmlElement",
            "useTokens": true,
            "el": $('#data_updated_htmlElement')
        }, {
            tokens: true,
            tokenNamespace: "submitted"
        }).render();


        //
        // VIEWS: FORM INPUTS
        //

        var input1 = new DropdownInput({
            "id": "input1",
            "choices": [
                {"label": "All", "value": "%"}
            ],
            "default": "%",
            "searchWhenChanged": true,
            "labelField": "orgName",
            "valueField": "orgName",
            "selectFirstChoice": false,
            "showClearButton": true,
            "value": "$form.businessGroup_token$",
            "managerid": "search7",
            "el": $('#input1')
        }, {tokens: true}).render();

        input1.on("change", function(newValue) {
            FormUtils.handleValueChange(input1);
            search7.startSearch();
        });
        
        DashboardController.onReady(function() {
            if (!submittedTokenModel.has('earliest') && !submittedTokenModel.has('latest')) {
                submittedTokenModel.set({ earliest: '0', latest: '' });
            }
        });

        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        if (!_.isEmpty(urlTokenModel.toJSON())){
            submitTokens();
        }


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
// ]]>
</script>
</body>
</html>