<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Region Analytics</title>
        <link rel="shortcut icon" href="/en-US/static/@2F27652E945DA895AB1FE72F350B2423965D665DC4FB8C2F272B4003A86BF934/img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
        <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/splunkjs-dashboard.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/search/dashboard.css" />
        <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/Uniliver_Dashboard_Images/css/region analytics.css" />

        <meta name="referrer" content="never" />
        <meta name="referrer" content="no-referrer" />
    
        <script>
            (function () {
                window._splunk_metrics_events = [];
                window._splunk_metrics_events.active = true;

                function onLoadSwa() {
                    new SWA({"deploymentID": "c6ec124c-0c34-5591-ae74-ae8203281ac7", "userID": "26c751d05dd12e80d0cf5012bac6160815381e8cb9f42f70e3453fbac6db78cb", "version": "4", "instanceGUID": "363C2B69-81AD-4FA0-8EEC-A3B36296998F", "visibility": "anonymous,support", "url": "https://e1345286.api.splkmobile.com/1.0/e1345286"});
                };

                document.addEventListener("DOMContentLoaded", function(event) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = '/en-US/static/app/splunk_instrumentation/build/pages/swa.js';
                    s.addEventListener('load', onLoadSwa);
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                });
            }());
        </script>
        
    </head>
    <body class="simplexml preload locale-en" data-splunk-version="8.0.1" data-splunk-product="splunk">
        <!--
        BEGIN LAYOUT
        This section contains the layout for the dashboard. Splunk uses proprietary
        styles in <div> tags, similar to Bootstrap's grid system.
        -->
        <header>
            <a aria-label="Screen reader users, click here to skip the navigation bar" class="navSkip" href="#navSkip" tabIndex="1">Skip Navigation &gt;</a>
            <div class="header splunk-header">
                <div id="placeholder-splunk-bar">
                    <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
                </div>
                <div id="placeholder-app-bar"></div>
            </div>
            <a id="navSkip"></a>
        </header>
        <div class="dashboard-body container-fluid main-section-body" data-role="main">
            <div class="row" id="rowheader">
                <div class="fieldset">
                    <div id="mySidenav1" class="sidenav1">
                        <a id="orderLink" href=""> <img id="orderAnalyticsIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" />
                            <label id="orderAnalyticsLabel">Order Analytics</label>
                        </a>
                        <a id="failureLink" href=""> <img id="failureAnalyticsIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" />
                            <label id="failurerAnalyticsLabel">Failure Analytics</label>
                        </a>
                        <a id="performanceLink" href=""> <img id="performanceAnalyticsIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" />
                            <label id="performanceAnalyticsLabel">Performance Analytics</label>
                        </a>
                        <a id="regionLink" class="active" href="https://unileverservices.splunkcloud.com/en-US/app/ecom/region_analytics_dashboard"> <img id="regionAnalyticsIcon" src="/static/app/Uniliver_Dashboard_Images/images/productionApiIcon.png" height="30" width="30" />
                            <label id="regionAnalyticsLabel">Region Wise Analytics</label>
                        </a>
                        <br id="br1" />
                        <br id="br2" />
                        <br id="br3" />
                        <br id="br4" />
                        <br id="br5" />
                        <br id="br6" />
                        <br id="br7" />
                        <br id="br8" />
                        <br id="br9" />
                        <br id="br10" />
                        <a href="../../account/logout" id="logoutLink"> <img id="logoutIcon" src="/static/app/Uniliver_Dashboard_Images/images/logoutIcon.png" height="30" width="30" />
                            <label id="logoutLabel">Logout</label>
                        </a>
                    </div>
                    <div id="select"> <span onclick="openNav1()" id="navicon">&#9776;</span> <span onclick="openNav1()" id="closeicon">
                        <img id="newj" src="/static/app/Uniliver_Dashboard_Images/images/newj.png" height="120" width="120">
                    </span> </div>
                    <div>
                        <label id="muletitle">Region Wise Analytics</label>
                    </div>
                    <div>
                        <a href="https://www.unilever.com/" target="_blank"> <img id="unileverLogo" src="/static/app/Uniliver_Dashboard_Images/images/unileverLogo.png" alt="Not Found" onerror=this.src="/static/app/Uniliver_Dashboard_Images/images/uniliveralt.png" 
                            >
                        </a>
                    </div>
                    <div>
                        <label id="loginuser"></label>
                        <label id="welcome">Welcome</label>
                    </div>
                </div>
            </div>
            <br />
            <div class="fieldset">
                <div class="input input-dropdown" id="environmentDropdown">
                    <label>Environment</label>
                </div>
                <div class="input input-multiselect" id="input2">
                    <label>Region</label>
                </div>
                <div class="input input-dropdown" id="statusDropdown">
                    <label><h3>Status</h3></label>
                </div>
                <div class="input input-timerangepicker" id="input4">
                    <label>Time</label>
                </div>
                <div class="form-submit" id="search_btn">
                    <button class="btn btn-primary submit">Submit</button>
                </div>
            </div>

            <div id="row1" class="dashboard-row dashboard-row1">
                <div id="panel1" class="dashboard-cell" style="width: 100%;">
                    <div class="dashboard-panel clearfix">
                        
                        <div class="panel-element-row">
                            <div id="element1" class="dashboard-element viz" style="width: 100%">
                                <div class="panel-body"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="row2" class="dashboard-row dashboard-row2">
                <div id="panel2" class="dashboard-cell" style="width: 100%;">
                    <div class="dashboard-panel clearfix">
                        
                        <div class="panel-element-row">
                            <div id="element2" class="dashboard-element viz" style="width: 100%">
                                <div class="panel-body"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--
        END LAYOUT
        -->

        <script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1" crossorigin="use-credentials"></script>
        <script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
        <script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
        <script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
        <script type="text/javascript">
            var sideNav1 = false;
            function openNav1() {
                sideNav1 = !sideNav1;
                var s=document.getElementById("mySidenav1").style.width = (sideNav1)? "20%" : "0";
                if(s=="20%"){
                    $("#navicon").hide();
                    $("#closeicon").show();
                    $('#mySidenav1').show();
                } else{
                    $("#closeicon").hide();
                    $("#navicon").show();
                    $('#mySidenav1').show();
                }
            }

            $(document).click(function(evt) {
                if(evt.target.id != "navicon") {
                    $('#mySidenav1').hide();
                    $("#closeicon").hide();
                    $("#navicon").show();
                }
            });


            // <![CDATA[
            // <![CDATA[
            //
            // LIBRARY REQUIREMENTS
            //
            // In the require function, we include the necessary libraries and modules for
            // the HTML dashboard. Then, we pass variable names for these libraries and
            // modules as function parameters, in order.
            //
            // When you add libraries or modules, remember to retain this mapping order
            // between the library or module and its function parameter. You can do this by
            // adding to the end of these lists, as shown in the commented examples below.

            require([
                "splunkjs/mvc",
                "splunkjs/mvc/utils",
                "splunkjs/mvc/tokenutils",
                "underscore",
                "jquery",
                "splunkjs/mvc/simplexml",
                "splunkjs/mvc/layoutview",
                "splunkjs/mvc/simplexml/dashboardview",
                "splunkjs/mvc/simplexml/dashboard/panelref",
                "splunkjs/mvc/simplexml/element/chart",
                "splunkjs/mvc/simplexml/element/event",
                "splunkjs/mvc/simplexml/element/html",
                "splunkjs/mvc/simplexml/element/list",
                "splunkjs/mvc/simplexml/element/map",
                "splunkjs/mvc/simplexml/element/single",
                "splunkjs/mvc/simplexml/element/table",
                "splunkjs/mvc/simplexml/element/visualization",
                "splunkjs/mvc/simpleform/formutils",
                "splunkjs/mvc/simplexml/eventhandler",
                "splunkjs/mvc/simplexml/searcheventhandler",
                "splunkjs/mvc/simpleform/input/dropdown",
                "splunkjs/mvc/simpleform/input/radiogroup",
                "splunkjs/mvc/simpleform/input/linklist",
                "splunkjs/mvc/simpleform/input/multiselect",
                "splunkjs/mvc/simpleform/input/checkboxgroup",
                "splunkjs/mvc/simpleform/input/text",
                "splunkjs/mvc/simpleform/input/timerange",
                "splunkjs/mvc/simpleform/input/submit",
                "splunkjs/mvc/searchmanager",
                "splunkjs/mvc/savedsearchmanager",
                "splunkjs/mvc/postprocessmanager",
                "splunkjs/mvc/simplexml/urltokenmodel"
                // Add comma-separated libraries and modules manually here, for example:
                // ..."splunkjs/mvc/simplexml/urltokenmodel",
                // "splunkjs/mvc/tokenforwarder"
                ],
                function(
                    mvc,
                    utils,
                    TokenUtils,
                    _,
                    $,
                    DashboardController,
                    LayoutView,
                    Dashboard,
                    PanelRef,
                    ChartElement,
                    EventElement,
                    HtmlElement,
                    ListElement,
                    MapElement,
                    SingleElement,
                    TableElement,
                    VisualizationElement,
                    FormUtils,
                    EventHandler,
                    SearchEventHandler,
                    DropdownInput,
                    RadioGroupInput,
                    LinkListInput,
                    MultiSelectInput,
                    CheckboxGroupInput,
                    TextInput,
                    TimeRangeInput,
                    SubmitButton,
                    SearchManager,
                    SavedSearchManager,
                    PostProcessManager,
                    UrlTokenModel

                    // Add comma-separated parameter names here, for example:
                    // ...UrlTokenModel,
                    // TokenForwarder
                    ) {

                    var pageLoading = true;

                    var service = mvc.createService({
                        owner: "nobody"
                    });
                    var urlLocaleAddress = window.location.pathname;
                    var urlLocale = urlLocaleAddress.split('/')[1];
                    var isUserLoggedInFirstTime = -1;
                    var isSupportUser = false;
                    var init = function() {
                        service.currentUser(function(err, user) {
                            var showChangepassword_Dialog = false;
                            var roles = user.properties().roles;
                            var userRealName = user.properties().realname;
                            document.getElementById("loginuser").innerHTML = userRealName;
                            if(roles.includes("splunk_ms_support")) {
                                isSupportUser = true;
                            }
                        });
                    }();

                    // create Global variables for loading dashboard with previous dashboard filters
                    var currentEnvironment = null;
                    var currentRegion = null;
                    var currentEarliest = null;
                    var currentLatest = null;
                    var currentStatus = null;    


                    //
                    // TOKENS
                    //

                    // Create token namespaces
                    var urlTokenModel = new UrlTokenModel();
                    mvc.Components.registerInstance('url', urlTokenModel);
                    var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
                    var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

                    urlTokenModel.on('url:navigate', function() {
                        defaultTokenModel.set(urlTokenModel.toJSON());
                        if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                            submitTokens();
                        } else {
                            submittedTokenModel.clear();
                        }
                    });

                    // Initialize tokens
                    defaultTokenModel.set(urlTokenModel.toJSON());

                    function submitTokens() {
                        // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
                        FormUtils.submitForm({ replaceState: pageLoading });
                    }

                    function setToken(name, value) {
                        defaultTokenModel.set(name, value);
                        submittedTokenModel.set(name, value);
                    }

                    function unsetToken(name) {
                        defaultTokenModel.unset(name);
                        submittedTokenModel.unset(name);
                    }

                    // get current url params
                    var currentURL = window.location.href;
                    var currentParams = getParams(currentURL);


                    //
                    // SEARCH MANAGERS
                    //
                    var baseSearch = new SearchManager({
                        "id": "baseSearch",
                        "sample_ratio": null,
                        "search": "index=summary_index_mt_stats earliest=$realEarliestEpoch$ latest=$realLatestEpoch$ source=\"summary_index_mt_stats\" $filterQueryMT$ businessGroup=\"Direct to Consumer\" $regionMTNew$ interfaceName=\"*\" parentId=\"*\" finalStatus=\"Success\" | sort 0 -uniqueTime | dedup environment,businessGroup,appName,interfaceName,Region,correlationId | table _time,environment,businessGroup,appName,interfaceName,Region,correlationId,finalStatus,finalProcessingTime,finalRetryCount | eval thresholdTime=51 | eval transactionsGraterThWithoutRetry=if(finalProcessingTime>thresholdTime and finalRetryCount=0 ,1,0),transactionsGraterThWithRetry=if(finalProcessingTime>thresholdTime and finalRetryCount>0 ,1,0) | eval transactionWithoutRetry=if(finalRetryCount=0,1,0),transactionWithRetry=if(finalRetryCount>0,1,0),finalProcessingTimeWithoutRetry=if(finalRetryCount=0,finalProcessingTime,finalProcessingTimeWithoutRetry),finalProcessingTimeWithRetry=if(finalRetryCount>0,finalProcessingTime,finalProcessingTimeWithRetry) | fillnull value=0,transactionWithRetry,finalProcessingTimeWithRetry | eval totalTransactions=transactionWithoutRetry +transactionWithRetry,totalProcessingTime=finalProcessingTimeWithoutRetry+finalProcessingTimeWithRetry,transactionsGraterTh=transactionsGraterThWithoutRetry+transactionsGraterThWithRetry | stats latest(_time) as _time,avg(totalProcessingTime) as avgProcessingTime,avg(finalProcessingTimeWithoutRetry) as avgProcessingTimeWithoutRetry,avg(finalProcessingTimeWithRetry) as avgProcessingTimeWithRetry,sum(totalTransactions) as totalTransactions,sum(transactionWithoutRetry) as totalTransactionsWithoutRetry,sum(transactionWithRetry) as totalTransactionsWithRetry,sum(transactionsGraterTh) as totalTransactionsGraterthanTh,sum(transactionsGraterThWithoutRetry) as totalTransactionsGraterthanThWithoutRetry,sum(transactionsGraterThWithRetry) as totalTransactionsGraterthanThWithRetry by environment,Region,interfaceName | eval totalThroughput=round(totalTransactions/2,0),totalThroughputWithoutRetry=round(totalTransactionsWithoutRetry/2,0),totalThroughputWithRetry=round(totalTransactionsWithRetry/2,0) | table _time,environment,Region,interfaceName,avgProcessingTime,avgProcessingTimeWithoutRetry,avgProcessingTimeWithRetry,totalTransactions,totalTransactionsWithoutRetry,totalTransactionsWithRetry,totalTransactionsGraterthanTh,totalTransactionsGraterthanThWithoutRetry,totalTransactionsGraterthanThWithRetry,totalThroughput,totalThroughputWithRetry,totalThroughputWithoutRetry| append [ search index=summary_index_performance earliest=$historicalEarliestEpoch$ latest=$historicalLatestEpoch$ source=\"summary_index_performance\" $filterQueryMT$ $regionMTNew$ interfaceName=\"*\"| table _time,environment,Region,interfaceName,avgProcessingTime,avgProcessingTimeWithoutRetry,avgProcessingTimeWithRetry,totalTransactions,totalTransactionsWithoutRetry,totalTransactionsWithRetry,totalTransactionsGraterthanTh,totalTransactionsGraterthanThWithoutRetry,totalTransactionsGraterthanThWithRetry,totalThroughput,totalThroughputWithRetry,totalThroughputWithoutRetry] ",
                        "status_buckets": 0,
                        "cancelOnUnload": true,
                        "app": utils.getCurrentApp(),
                        "auto_cancel": 90,
                        "auto_cancel": 90,
                        "preview": true,
                        "autostart": false,
                        "tokenDependencies": {
                        },
                        "runWhenTimeIsUndefined": false
                    }, {tokens: true, tokenNamespace: "submitted"});    
                    
                    var search1 = new PostProcessManager({
                        "managerid": "baseSearch",
                        "search":'|timechart valueS($processingTimeField$) as avgProcessingTime by Region | eval threshold=51,regions=\"normal=#99D18B,40,Warning=#FCB64E,50,Error=#B50101\"',
                        "id": "search1"
                    }, {
                        tokens: true,
                        tokenNamespace: "submitted"
                    });  
                    
                    var search2 = new PostProcessManager({
                        "managerid": "baseSearch",
                        "search":"|timechart valueS($totalThroughputField$) as avgThroughput by Region | eval threshold=10,regions=\"normal=#99D18B,40,Warning=#FCB64E,50,Error=#B50101\"",
                        "id": "search2"
                    }, {
                        tokens: true,
                        tokenNamespace: "submitted"
                    });  

                    var search3 = new SearchManager({
                        "id": "search3",
                        "search": "index=summary_index_mt_stats source=\"summary_index_mt_stats\" OR source=\"ss_cancelled\" $filterQueryMT$ businessGroup=\"Direct to Consumer\" appName=\"*\"  Region=\"*\" parentId=\"*\" | dedup Region | table Region",
                        "status_buckets": 0,
                        "sample_ratio": 1,
                        "earliest_time": "0",
                        "cancelOnUnload": true,
                        "latest_time": "now",
                        "app": utils.getCurrentApp(),
                        "auto_cancel": 90,
                        "preview": true,
                        "tokenDependencies": {},
                        "runWhenTimeIsUndefined": false
                    }, {
                        tokens: true,
                        tokenNamespace: "submitted"
                    });
                
                    new SearchEventHandler({
                        managerid: "search3",
                        event: "done",
                        conditions: [
                            {
                                attr: "any",
                                value: "*",
                                actions: [
                                    {"type": "set", "token": "RegionFirstValue", "value": "$result.Region$"},
                                    {"type": "set", "token": "regionMT", "value": "$result.Region$"}
                                ]
                            }
                        ]
                    });

                    search3.on('search:done', function(properties) {
                        setTimeout(function() {
                            if (!currentParams.prevEnv) {
                                var regionValue = defaultTokenModel.get("RegionFirstValue");
                                splunkjs.mvc.Components.getInstance("input2").val(regionValue);
                            }  else {
                                setToken("RegionFirstValue", currentParams.prevRegion);
                                setToken("regionMTNew", 'Region="'+currentParams.prevRegion+'"');
                            }
                            var isRun = isdropdownChanged ? isdropdownChanged : false;
                            setDefaultTokens(isRun);
                            isdropdownChanged = false;
                        },500)
                    });


                    //
                    // SPLUNK LAYOUT
                    //

                    $('header').remove();
                    new LayoutView({"hideChrome": true, "hideSplunkBar": true, "hideAppBar": true})
                        .render()
                        .getContainerElement()
                        .appendChild($('.dashboard-body')[0]);

                    //
                    // DASHBOARD EDITOR
                    //

                    new Dashboard({
                        id: 'dashboard',
                        el: $('.dashboard-body'),
                        showTitle: true,
                        editable: true
                    }, {tokens: true}).render();


                    //
                    // VIEWS: VISUALIZATION ELEMENTS
                    //

                    EventHandler.unsetToken("form.filterQueryMT");
                    EventHandler.unsetToken("form.time.earliest");
                    EventHandler.unsetToken("form.time.latest");
                    EventHandler.unsetToken("form.regionMT");
                    EventHandler.unsetToken("form.successStatus");

                    $("#orderLink").click(function() {
                        var anchorTag = document.getElementById('orderLink');
                        anchorTag.href = "https://unileverservices.splunkcloud.com/en-US/app/ecom/order_analytics_dashboard?prevEnv="+currentEnvironment+"&prevRegion="+currentRegion+"&prevEarliest="+currentEarliest+"&prevLatest="+currentLatest;
                    });

                    $("#failureLink").click(function() {
                        var anchorTag = document.getElementById('failureLink');
                        anchorTag.href = "https://unileverservices.splunkcloud.com/en-US/app/ecom/failure_analytics_dashboard?prevEnv="+currentEnvironment+"&prevRegion="+currentRegion+"&prevEarliest="+currentEarliest+"&prevLatest="+currentLatest;
                    });

                    $("#performanceLink").click(function() {
                        var anchorTag = document.getElementById('performanceLink');
                        anchorTag.href = "https://unileverservices.splunkcloud.com/en-US/app/ecom/performance_analytics_dashboard?prevEnv="+currentEnvironment+"&prevRegion="+currentRegion+"&prevEarliest="+currentEarliest+"&prevLatest="+currentLatest+"&prevStatus="+currentStatus;
                    });
                
                    var element1 = new VisualizationElement({
                        "id": "element1",
                        "type": "region_chart_viz.region_chart_viz",
                        "resizable": true,
                        "drilldown": "none",
                        "refresh.display": "progressbar",
                        "region_chart_viz.region_chart_viz.last_text": "hide",
                        "region_chart_viz.region_chart_viz.line_color": "#006d9c",
                        "region_chart_viz.region_chart_viz.line_size": "3",
                        // "region_chart_viz.region_chart_viz.max": "100",
                        "region_chart_viz.region_chart_viz.min": "0",
                        "region_chart_viz.region_chart_viz.multi_series": "colored",
                        "region_chart_viz.region_chart_viz.nulls": "connect",
                        "region_chart_viz.region_chart_viz.region_opacity": "35",
                        "region_chart_viz.region_chart_viz.shadow": "20",
                        "region_chart_viz.region_chart_viz.status_dots": "show",
                        "region_chart_viz.region_chart_viz.summ_text": "avg",
                        "region_chart_viz.region_chart_viz.text_precision": "-1",
                        "region_chart_viz.region_chart_viz.text_thousands": "no",
                        "region_chart_viz.region_chart_viz.text_unit_position": "after",
                        "region_chart_viz.region_chart_viz.type": "curve",
                        "region_chart_viz.region_chart_viz.xtitle_show": "hide",
                        "region_chart_viz.region_chart_viz.ytitle_show": "hide",
                        "trellis.enabled": "0",
                        "trellis.scales.shared": "1",
                        "trellis.size": "medium",
                        "managerid": "search1",
                        "el": $('#element1')
                    }, {tokens: true, tokenNamespace: "submitted"}).render();

                    var element2 = new VisualizationElement({
                        "id": "element2",
                        "type": "region_chart_viz.region_chart_viz",
                        "resizable": true,
                        "drilldown": "none",
                        "refresh.display": "progressbar",
                        "region_chart_viz.region_chart_viz.last_text": "hide",
                        "region_chart_viz.region_chart_viz.line_color": "#006d9c",
                        "region_chart_viz.region_chart_viz.line_size": "3",
                        //"region_chart_viz.region_chart_viz.max": "100",
                        "region_chart_viz.region_chart_viz.min": "0",
                        "region_chart_viz.region_chart_viz.multi_series": "colored",
                        "region_chart_viz.region_chart_viz.nulls": "connect",
                        "region_chart_viz.region_chart_viz.region_opacity": "35",
                        "region_chart_viz.region_chart_viz.shadow": "20",
                        "region_chart_viz.region_chart_viz.status_dots": "show",
                        "region_chart_viz.region_chart_viz.summ_text": "avg",
                        "region_chart_viz.region_chart_viz.text_precision": "-1",
                        "region_chart_viz.region_chart_viz.text_thousands": "no",
                        "region_chart_viz.region_chart_viz.text_unit_position": "after",
                        "region_chart_viz.region_chart_viz.type": "curve",
                        "region_chart_viz.region_chart_viz.xtitle_show": "hide",
                        "region_chart_viz.region_chart_viz.ytitle_show": "hide",
                        "trellis.enabled": "0",
                        "trellis.scales.shared": "1",
                        "trellis.size": "medium",
                        "managerid": "search2",
                        "el": $('#element2')
                    }, {tokens: true, tokenNamespace: "submitted"}).render();


                    //
                    // VIEWS: FORM INPUTS
                    //

                    // set default tokens
                    function setDefaultTokens(isRun) {
                        var defaultTokenModel = mvc.Components.get("default");
                        var timestampValueEarliest = currentParams && currentParams.prevEarliest ? currentParams.prevEarliest : defaultTokenModel.get("time.earliest");
                        var timestampValueLatest = currentParams && currentParams.prevLatest ? currentParams.prevLatest : defaultTokenModel.get("time.latest");

                        if (currentParams && currentParams.prevEnv) {
                            splunkjs.mvc.Components.getInstance("input4").val({"latest_time": currentParams.prevLatest,"earliest_time": currentParams.prevEarliest});
                            if (currentParams.prevStatus) {
                                setToken("successStatus",currentParams.prevStatus);
                                splunkjs.mvc.Components.getInstance("statusDropdown").val(currentParams.prevStatus);
                            }
                        }

                        var onLoadEarliest = timestampValueEarliest ? timestampValueEarliest : "-30m@m";
                        var onLoadLatest = timestampValueLatest ? timestampValueLatest : "now";
                        if (currentParams && currentParams.prevRegion) {
                            setToken("regionMTNew", 'Region="'+currentParams.prevRegion+'"');
                        } else {
                            var regionValue = defaultTokenModel.get("regionMT");
                            if (regionValue && !regionValue.includes("Region=")) {
                                setToken("regionMTNew", 'Region="'+regionValue+'"');
                            } else {
                                setToken("regionMTNew", regionValue);
                            }
                        }

                        setToken("processingTimeField","avgProcessingTime")
                        setToken("thresholdField","totalTransactionsGraterthanTh")
                        setToken("totalTransactionsField","totalTransactions")
                        setToken("totalThroughputField","totalThroughput")
                        
                        setTokensforHistoricalAndRealData(onLoadEarliest,onLoadLatest);
                        if (isRun) {
                            baseSearch.startSearch();
                        }

                        setGloablVariables();
                    }
                    
                    // set dashboard filters into global variables
                    function setGloablVariables(){
                        var defaultTokenModel = mvc.Components.get("default");
                        var environmentDValue = defaultTokenModel.get("filterQueryMT");
                        if (environmentDValue == "environment=\"*prod*\"") {
                            currentEnvironment = 'prod';
                        } else {
                            currentEnvironment = 'non-prod';
                        }
                        currentRegion = defaultTokenModel.get("regionMT");
                        if (currentRegion && currentRegion.includes("OR")) {
                            currentRegion = currentRegion.split("OR");
                            currentRegion = currentRegion[0].substr(8,4);
                        } else if (currentRegion && currentRegion.includes("Region=")) {
                            currentRegion = currentRegion.substr(8,4);
                        }
                        currentInterface = defaultTokenModel.get("interfaceNameMT");
                        currentEarliest = defaultTokenModel.get("time.earliest");
                        currentLatest = defaultTokenModel.get("time.latest");
                        currentStatus = defaultTokenModel.get("successStatus");
                    }
                    
                    var environmentDropdown = new DropdownInput({
                        "id": "environmentDropdown",
                        "choices": [{
                            "label": "prod",
                            "value": "environment=\"*prod*\""
                        }, {
                            "label": "non prod",
                            "value": "environment!=\"*prod*\""
                        }],
                        "showClearButton": false,
                        "default": "environment=\"*prod*\"",
                        "searchWhenChanged": true,
                        "selectFirstChoice": false,
                        "value": "$form.filterQueryMT$",
                        "el": $('#environmentDropdown')
                    }, {
                        tokens: true
                    }).render();

                    var isdropdownChanged = false;
                    environmentDropdown.on("change", function(newValue) {
                        FormUtils.handleValueChange(environmentDropdown);
                        if (!currentParams.prevEnv) {
                            var defaultTokenModel = mvc.Components.get("default");
                            var environmentDValue = defaultTokenModel.get("filterQueryMT");
                            var filterQuery;
                            if (environmentDValue == "environment=\"*prod*\"") {
                                filterQuery = 'environment="*prod*"';
                            } else {
                                filterQuery = 'environment!="*prod*"';
                            }
                            EventHandler.unsetToken("form.regionMT");
                            unsetToken("RegionFirstValue");
                            setToken("filterQueryMT", filterQuery);
                        } else {
                            if (currentParams.prevEnv == "prod") {
                                setToken("filterQueryMT", 'environment="*prod*"');
                                splunkjs.mvc.Components.getInstance("environmentDropdown").val("environment=\"*prod*\"");
                            } else {
                                setToken("filterQueryMT", 'environment!="*prod*"');
                                splunkjs.mvc.Components.getInstance("environmentDropdown").val("environment!=\"*prod*\"");
                            }
                        }
                        isdropdownChanged = true;
                    });

                    var input2 = new MultiSelectInput({
                        "id": "input2",
                        "choices": [],
                        "default": "$RegionFirstValue$",    
                        "valuePrefix": "Region=\"",
                        "valueSuffix": "\"",
                        "delimiter": " OR ",
                        "searchWhenChanged": false,
                        "labelField": "Region",
                        "valueField": "Region",
                        "selectFirstChoice": true,
                        "value": "$form.regionMT$",
                        "managerid": "search3",
                        "el": $('#input2')
                    }, {tokens: true}).render();

                    var dashboardLoadingCount=1;
                    input2.on("change", function(newValue) {
                        FormUtils.handleValueChange(input2);
                        if (!currentParams.prevEnv) {
                            EventHandler.unsetToken("form.successStatus");
                        }
                        setToken("RegionFirstValue", newValue);
                        if (dashboardLoadingCount==2 && newValue!=null) {
                            var defaultTokenModel = mvc.Components.get("default");
                            var regionValue = defaultTokenModel.get("regionMT");
                            if(regionValue && !regionValue.includes("Region=")) {
                                setToken("regionMTNew", 'Region="'+regionValue+'"');
                            } else {
                                setToken("regionMTNew", regionValue);
                            }
                        }
                        dashboardLoadingCount++;
                    });
                
                    var statusDropdown = new DropdownInput({
                        "id": "statusDropdown",
                        "choices": [{
                            "label": "Success",
                            "value": "Success"
                        }, {
                            "label": "Success W/O Retry",
                            "value": "Success Without Retry"
                        }, {
                            "label": "Success Retry",
                            "value": "Success With Retry"
                        }],
                        "showClearButton": false,
                        "default": "Success",
                        "searchWhenChanged": true,
                        "selectFirstChoice": false,
                        "value": "$form.successStatus$",
                        "el": $('#statusDropdown')
                    }, {
                        tokens: true
                    }).render();
                
                    statusDropdown.on("change", function(newValue) {
                        FormUtils.handleValueChange(statusDropdown);
                    });
                
                    var input4 = new TimeRangeInput({
                        "id": "input4",
                        "default": {"earliest_time": "-12h@h", "latest_time": "now"},
                        "earliest_time": "$form.time.earliest$",
                        "latest_time": "$form.time.latest$",
                        "el": $('#input4')
                    }, {tokens: true}).render();

                    input4.on("change", function(newValue) {
                        FormUtils.handleValueChange(input4);
                    });
                    

                    //
                    // SUBMIT FORM DATA
                    //    
                    var submit = new SubmitButton({
                        id: 'submit',
                        el: $('#search_btn')
                    }, {tokens: true}).render();

                    submit.on("submit", function() {
                        submitTokens();
                        var defaultTokenModel = mvc.Components.get("default");
                        var timestampValueEarliest = defaultTokenModel.get("time.earliest");
                        var timestampValueLatest = defaultTokenModel.get("time.latest");
                        
                        setTokensforHistoricalAndRealData(timestampValueEarliest,timestampValueLatest);
                        
                        var statusDropdownValue = defaultTokenModel.get("successStatus");
                        if (statusDropdownValue == "Success") {
                            setToken("processingTimeField","avgProcessingTime")
                            setToken("thresholdField","totalTransactionsGraterthanTh")
                            setToken("totalTransactionsField","totalTransactions")
                            setToken("totalThroughputField","totalThroughput")
                        } else if(statusDropdownValue == "Success Without Retry") {
                            setToken("processingTimeField","avgProcessingTimeWithoutRetry")
                            setToken("thresholdField","totalTransactionsGraterthanThWithoutRetry")
                            setToken("totalTransactionsField","totalTransactionsWithoutRetry")
                            setToken("totalThroughputField","totalThroughputWithoutRetry")
                        } else {
                            setToken("processingTimeField","avgProcessingTimeWithRetry")
                            setToken("thresholdField","totalTransactionsGraterthanThWithRetry")
                            setToken("totalTransactionsField","totalTransactionsWithRetry")
                            setToken("totalThroughputField","totalThroughputWithRetry")
                        }    

                        var regionValue = defaultTokenModel.get("regionMT");
                        if (regionValue && !regionValue.includes("Region=")) {
                            setToken("regionMTNew", 'Region="'+regionValue+'"');
                        } else {
                            setToken("regionMTNew", regionValue); 
                        }

                        baseSearch.startSearch();

                        setGloablVariables();
                    });

                    // Initialize time tokens to default
                    if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
                        defaultTokenModel.set({ earliest: '0', latest: '' });
                    }

                    if (!_.isEmpty(urlTokenModel.toJSON())){
                        submitTokens();
                    }


                    function setTokensforHistoricalAndRealData(timestampValueEarliest,timestampValueLatest) {
                        var selectedEarliest = timestampValueEarliest;
                        var selectedLatest = timestampValueLatest;
                        var currentTime = new Date();
                        var currentYear = currentTime.getFullYear();
                        var currentMonth = currentTime.getMonth();
                        var currentDay = currentTime.getDate();
                        var currentHour = currentTime.getHours();
                        var currentMinutes = currentTime.getMinutes();
                        var currentSeconds = currentTime.getSeconds();
                        var currentSlotStartTime,currentSlotEndTime,currentSlotStartTimeEpoch,currentSlotEndTimeEpoch,earliestEpoch,latestEpoch,historicalEarliestEpoch,historicalLatestEpoch,realEarliestEpoch,realLatestEpoch;

                        // calculate current slot times
                        if (currentMinutes <= 30) {
                            currentSlotStartTime = new Date(currentYear,currentMonth,currentDay,currentHour);
                            currentSlotEndTime = new Date(currentYear,currentMonth,currentDay,currentHour,30);
                        } else {
                            currentSlotStartTime = new Date(currentYear,currentMonth,currentDay,currentHour,30);
                            currentSlotEndTime = new Date(currentYear,currentMonth,currentDay,currentHour,60);
                        }
                        currentSlotStartTimeEpoch = currentSlotStartTime.getTime();
                        currentSlotEndTimeEpoch = currentSlotEndTime.getTime();

                        // calculate latest Epoch time
                        if (selectedLatest == "now") {
                            selectedLatest = currentTime;
                            latestEpoch = currentTime.getTime();
                        } else {
                            latestEpoch = new Date(Number(selectedLatest) * 1000).getTime();
                        }

                        // calculate Earliest Epoch time
                        var numberPart,firstTimeSpecifier,secondTimeSpecifier;
                        
                        if (!selectedEarliest.includes("s") && !selectedEarliest.includes("m") && !selectedEarliest.includes("h") && !selectedEarliest.includes("d") && !selectedEarliest.includes("w") && !selectedEarliest.includes("mon") && !selectedEarliest.includes("q") && !selectedEarliest.includes("y")) {
                            earliestEpoch = new Date(Number(selectedEarliest) * 1000).getTime();
                        } else {
                            var earliestFormat = selectedEarliest.includes("@") ? selectedEarliest.split("@") : selectedEarliest;
                            if (earliestFormat[0] && earliestFormat[0].length && earliestFormat[0].length > 1) {
                                if (earliestFormat[0].includes("mon")) {
                                    numberPart = Number(earliestFormat[0].substr(1,earliestFormat[0].length-4));
                                    firstTimeSpecifier = earliestFormat[0].substr(earliestFormat[0].length-3);
                                    secondTimeSpecifier = earliestFormat[1];
                                } else {
                                    numberPart = Number(earliestFormat[0].substr(1,earliestFormat[0].length-2));
                                    firstTimeSpecifier = earliestFormat[0].substr(earliestFormat[0].length-1);
                                    secondTimeSpecifier = earliestFormat[1];
                                }
                            } else {
                                if (earliestFormat.includes("mon")) {
                                    numberPart = Number(earliestFormat.substr(1,earliestFormat.length-4));
                                    firstTimeSpecifier = earliestFormat.substr(earliestFormat.length-3);
                                } else {
                                    numberPart = Number(earliestFormat.substr(1,earliestFormat.length-2));
                                    firstTimeSpecifier = earliestFormat.charAt(earliestFormat.length-1);
                                }
                            }

                            var newEarliestEpochTime;
                            if (firstTimeSpecifier == 's') {
                                newEarliestEpochTime = currentTime.setSeconds(currentTime.getSeconds() - numberPart);
                            } else if (firstTimeSpecifier == 'm') {
                                newEarliestEpochTime = currentTime.setMinutes(currentTime.getMinutes() - numberPart);
                            } else if (firstTimeSpecifier == 'h') {
                                newEarliestEpochTime = currentTime.setHours(currentTime.getHours() - numberPart);
                            } else if (firstTimeSpecifier == 'd') {
                                newEarliestEpochTime = currentTime.setDate(currentTime.getDate() - numberPart);
                            } else if (firstTimeSpecifier == 'w') {
                                newEarliestEpochTime = currentTime.setDate(currentTime.getDate() - numberPart * 7);
                            } else if (firstTimeSpecifier == 'mon') {
                                newEarliestEpochTime = currentTime.setMonth(currentTime.getMonth() - numberPart);
                            } else if (firstTimeSpecifier == 'q') {
                                newEarliestEpochTime = currentTime.setMonth(currentTime.getMonth() - numberPart * 3);
                            } else if (firstTimeSpecifier == 'y') {
                                newEarliestEpochTime = currentTime.setFullYear(currentTime.getFullYear() - numberPart);
                            }

                            // check for Second Time Specifies
                            if (secondTimeSpecifier) {
                                newEarliestEpochTime = resetDate(newEarliestEpochTime,secondTimeSpecifier);
                            }
                            earliestEpoch = newEarliestEpochTime;
                        }

                        if (latestEpoch <= currentSlotStartTimeEpoch) { // check for only historical Data
                            historicalEarliestEpoch = resetDate(earliestEpoch,"earliest");
                            historicalLatestEpoch = resetDate(latestEpoch,"latest");
                            realEarliestEpoch = 0;
                            realLatestEpoch = 0;
                        } else if (earliestEpoch >= currentSlotStartTimeEpoch) { // check for realtime data
                            historicalEarliestEpoch = 0;
                            historicalLatestEpoch = 0;
                            realEarliestEpoch = earliestEpoch;
                            realLatestEpoch = latestEpoch;
                        } else if (latestEpoch > currentSlotStartTimeEpoch & earliestEpoch < currentSlotStartTimeEpoch) { // check for combination of historical and realtime data
                            historicalEarliestEpoch = resetDate(earliestEpoch,"earliest");
                            historicalLatestEpoch = currentSlotStartTimeEpoch;
                            realEarliestEpoch = currentSlotStartTimeEpoch;
                            realLatestEpoch = latestEpoch;
                        }
                        
                        setToken("historicalEarliestEpoch",Math.round(historicalEarliestEpoch/1000));
                        setToken("historicalLatestEpoch", Math.round(historicalLatestEpoch/1000));
                        setToken("realEarliestEpoch", Math.round(realEarliestEpoch/1000));
                        setToken("realLatestEpoch", Math.round(realLatestEpoch/1000));
                    }
                
                    function resetDate(epochTime, format) {
                        var newDate = new Date(epochTime);
                        var year = newDate.getFullYear();
                        var month = newDate.getMonth();
                        var day = newDate.getDate();
                        var hour = newDate.getHours();
                        var minutes = newDate.getMinutes();
                        var seconds = newDate.getSeconds();
                        var milliseconds = newDate.getMilliseconds();
                        if (format == "latest" | format == "earliest") {
                            if (minutes == 0) {
                                newDate = new Date(year,month,day,hour);
                            } else if (minutes > 0 & minutes < 30) {
                                if (format == "latest") {
                                    newDate = new Date(year,month,day,hour,30);
                                } else {
                                    newDate = new Date(year,month,day,hour);
                                }
                            } else if (minutes >= 30) {
                                if (format == "latest") {
                                    newDate = new Date(year,month,day,hour,60);
                                } else {
                                    newDate = new Date(year,month,day,hour,30);
                                }
                            }
                        } else if (format == "s") {
                            newDate = new Date(year,month,day,hour,minutes,seconds);
                        } else if (format == "m") {
                            newDate = new Date(year,month,day,hour,minutes);
                        } else if (format == "h") {
                            newDate = new Date(year,month,day,hour);
                        } else if (format == "d" | format == "w") {
                            newDate = new Date(year,month,day);
                        } else if (format == "mon" | format == "q") {
                            newDate = new Date(year,month);
                        } else if (format == "y") {
                            newDate = new Date(year,0);
                        }
                        epochTime = newDate.getTime();
                        return epochTime;
                    }

                    function getParams(url) {
                        var params = {};
                        var parser = document.createElement('a');
                        parser.href = url;
                        var query = parser.search.substring(1);
                        var vars = query.split('&');
                        for (var i = 0; i < vars.length; i++) {
                            var pair = vars[i].split('=');
                            params[pair[0]] = decodeURIComponent(pair[1]);
                        }
                        return params;
                    }

                    //
                    // DASHBOARD READY
                    //

                    DashboardController.ready();
                    pageLoading = false;
                }
            );
            // ]]>
        </script>
    </body>
</html>